.connection
    absolute left 0 bottom 64px
    display flex
    font-size 15px

    @media (max-width 1279px)
        display none

    &__more, &__pdf
        relative()
        z-index 0
        display flex
        align-items center
        cursor pointer

        &:before
            content ''
            size(72px)
            background-color --white-color
            border-radius 50%
            absolute left 50% top 50%
            transform translate(-50%, -50%)
            opacity 0
            transition .7s ease
            pointer-events none
            z-index -1

        &:hover

            &:before
                opacity 1

    &__download
        font-size 14px
        margin-right 8px

    &__arrow
        font-size 12px

        &--more
            transform rotate(90deg)
            margin-right 16px

        &--phones
            margin-left 16px
            transition .7s ease
            transform-origin 100% 50%
            relative()
            z-index 2

            .connection__phones:hover &
                transform rotate(90deg)

    &__address, &__pdf
        margin 0 56px


    &__phones
        relative()
        z-index 2

    &__number
        display flex

    &__list
        absolute left 50% top -32px
        transform translateX(-50%)
        display flex
        flex-direction column
        width 100%
        padding 7px 31px
        background-color --white-color
        opacity 0
        backface-visibility hidden
        pointer-events none
        border 1px solid --ternary-color
        transition opacity .7s ease

        .connection__phones:hover &
            opacity 1
            pointer-events auto

    &__item
        padding 24px 0
        white-space nowrap

        &:not(:last-child)
            border-bottom 1px solid --secondary-color

    &__link
        relative()
        z-index 0
        display flex

        &:before
            content ''
            size(46px)
            background-color --secondary-color
            border-radius 50%
            absolute left 50% top 50%
            transform translate(-50%, -50%) translate3d(0, 0, 0)
            opacity 0
            transition opacity .7s ease
            pointer-events none
            z-index -1

        &:hover

            &:before
                opacity 1
