.header
    background-color --secondary-color
    padding-top 72px
    padding-bottom 0
    relative()
    box-sizing border-box

    &--colonoscopy

        @media (max-width 1279px)
            background-color initial

            &:before
                content ''
                absolute left 0 top 0
                size(100%, 480px)
                background-color --secondary-color
                z-index -1

    @media (min-width 1280px)
        min-height 730px
        height 85vh
        padding-top 130px
        margin-bottom 30px
        padding-bottom 0
        box-sizing border-box

    &__content
        relative()
        height 100%
        box-sizing border-box
        padding-bottom 130px

        @media (max-width 1279px)

            .header--colonoscopy &
                padding-bottom 0

            .header--survey &
                padding-bottom 80px

            .header--endoscopy &
                padding-bottom 224px

            .header--clinic &
                padding-bottom 210px

        @media (min-width 1280px)
            display flex
            justify-content center
            flex-direction column
            padding-bottom 130px

    &__title
        font-size 32px
        line-height 1.2
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease
        opacity 0
        transform translateY(50px)

        @media (max-width 1279px)
            margin-top 48px

            .header--endoscopy &
                margin-top 16px

        @media (min-width 1280px)
            max-width 410px
            font-size 52px
            line-height 1.08

    &__desc
        font-size 18px
        margin-top 16px
        line-height 1.6
        max-width 200px
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease
        opacity 0
        transform translateY(50px)

        @media (max-width 1279px)

            .header--survey &
                max-width initial

            .header--endoscopy &
                max-width initial

            .header--consultation &
                max-width 160px

            .header--pricelist &
                max-width 248px

        @media (min-width 1280px)
            font-size 22px
            margin-top 32px
            max-width 400px

        .header--clinic &
            max-width 280px

        .header--pricelist &
            max-width 480px

    &__canvas
        absolute left 50% bottom 48px
        transform translateX(-50%)
        width 290px
        pointer-events none
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease
        opacity 0

        @media (min-width 1280px)
            left 0
            bottom 0
            size(100%)
            transform none

        .header--endoscopy &, .header--clinic &, .header--pricelist &
            z-index 0
            background-color --ternary-color
            border-radius 50%

            @media (max-width 1279px)
                display flex
                justify-content flex-start
                align-items flex-start
                bottom 36px
                transform none
                size(182px)
                left auto
                right 30px

            @media (min-width 1280px)
                size(495px)
                left auto
                right 128px
                bottom 126px

            &:after
                content ''
                size(182px)
                absolute right 0 top 0
                transform translateX(100%)
                background-color #F9FDFF
                border-radius 50%
                z-index -1

                @media (min-width 1280px)
                    size(495px)


        .header--pricelist &

            @media (max-width 1279px)
                display none

    &__image

        .header--main &, .header--consultation &
            transform rotate(15deg)
            absolute right -80px bottom 0
            width 150px

            @media (min-width 1280px)
                width 342px
                transform rotate(30deg)
                right 276px
                bottom 96px

        .header--consultation &
            width 207px

            @media (min-width 1280px)
                width 392px
                right 196px
                bottom 124px

        .header--endoscopy &
            width 168px
            margin 20px 0 0 -16px

            @media (min-width 1280px)
                width 510px
                margin 100px 0 0 -50px

        .header--clinic &, .header--pricelist &
            width 100%
            border-radius 50%
            object-fit cover

    &__pdf
        font-size 15px
        display flex
        margin-top 56px

        @media (min-width 1280px)
            display none

    &__download
        font-size 13px
        margin-right 8px

    &__button
        absolute left 50% bottom -8px
        transform translateX(-50%)
        z-index 2
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease
        opacity 0
        margin-bottom -50px

        .header--survey &
            relative left 0 bottom 0
            transform none
            margin-top 56px

        @media (min-width 1280px)
            size(400px, 180px)
            left auto
            transform none
            right 0
            bottom -64px
            align-items flex-start
            padding 48px

            .header--survey &
                display none

            @media (min-height 800px)
                height 240px
