.pricing
    margin-top 56px

    @media (min-width 1280px)
        absolute right 0 bottom -64px
        margin-top 0

    &__list
        display flex

    &__item
        width 240px
        background-color --white-color
        box-sizing border-box
        border 1px solid --ternary-color
        padding 56px 32px 48px
        transition background-color .3s .35s, color .3s .35s
        cursor pointer

        @media (min-width 1280px)
            width 360px
            padding 56px 48px 48px
            transition-delay 0s

        &:first-child
            background-color --primary-color
            color --white-color
            border-color transparent

    &__title
        font-size 17px
        line-height 1.4
        padding-top 24px
        border-top 1px solid --primary-color

        @media (min-width 1280px)
            font-size 20px
            line-height 1.8
            padding-top 20px

        .pricing__item:first-child &
            border-color --white-color

    &__value
        font-size 18px
        margin-top 32px

    &__content
        margin-top 48px

    &__services
        transition .7s ease

        @media (min-width 1280px)
            margin-top 48px
            transform translateY(0)

            .pricing__item:hover &
                opacity 0
                transform translateY(40px)
                pointer-events none

    &__clause

        @media (min-width 1280px)
            display flex
            padding-left 52px
            relative()

        &:not(:last-child)
            margin-bottom 24px

            @media (min-width 1280px)
                margin-bottom 28px

    &__icon
        font-size 10px

        @media (min-width 1280px)
            font-size 14px

        &.icon--x
            color #B4C5CB

        @media (min-width 1280px)
            absolute left 0 top 2px

    &__desc
        margin-top 12px
        font-size 14px
        line-height 1.4

        @media (min-width 1280px)
            margin-top 0

    &__content
        relative()

    &__sign-up
        display flex
        align-items center
        absolute left 0 top 0
        opacity 0
        pointer-events none
        transition .7s ease
        font-weight bold

        .pricing__item:last-child &
            color --primary-color

        @media (min-width 1280px)
            transform translateY(-40px)

            .pricing__item:hover &
                opacity 1
                transform translateY(0)
                pointer-events initial

        .icon
            font-size 12px
            margin-left 24px
            transition margin-left .7s ease

            .pricing__item:hover &
                margin-left 32px
