.<%= cssClass %>

    &:before
        font-family "<%= fontName %>"
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
        font-style normal
        font-variant normal
        font-weight normal
        text-decoration none
        text-transform none
    <% _.each(glyphs, (glyph) => { %>
    &--<%= glyph.fileName %>

        &:before
            content "\<%= glyph.codePoint %>"
    <% }); %>
