@font-face {
    font-family: 'Object Sans';
    src: url('../fonts/ObjectSans-Regular.woff2') format('woff2'),
            url('../fonts/ObjectSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Object Sans';
    src: url('../fonts/ObjectSans-Bold.woff2') format('woff2'),
            url('../fonts/ObjectSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.woff') format('woff'),
            url('../fonts/icons.ttf') format('truetype');
}


