.icon

    &:before
        font-family "icons"
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
        font-style normal
        font-variant normal
        font-weight normal
        text-decoration none
        text-transform none
    
    &--arrow

        &:before
            content "\E001"
    
    &--attention

        &:before
            content "\E002"
    
    &--download

        &:before
            content "\E003"
    
    &--facebook

        &:before
            content "\E004"
    
    &--link

        &:before
            content "\E005"
    
    &--mail

        &:before
            content "\E006"
    
    &--mark

        &:before
            content "\E007"
    
    &--messenger

        &:before
            content "\E008"
    
    &--minus

        &:before
            content "\E009"
    
    &--pause

        &:before
            content "\E00A"
    
    &--phone

        &:before
            content "\E00B"
    
    &--place

        &:before
            content "\E00C"
    
    &--play

        &:before
            content "\E00D"
    
    &--plus

        &:before
            content "\E00E"
    
    &--star

        &:before
            content "\E00F"
    
    &--telegram

        &:before
            content "\E010"
    
    &--viber

        &:before
            content "\E011"
    
    &--x

        &:before
            content "\E012"
    