global-reset()

body
    font-family -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

a
    color inherit
    text-decoration none

img
    display block
    max-width 100%

button
    border none
    outline none
    margin 0
    padding 0

@import "variables.styl"
@import "fonts.styl"
@import "page.styl"
@import "icons.styl"
@import "section.styl"
@import "blocks/**/*.styl"
@import "tns/tns.styl"
