.section
    padding 0 calc(50% - 145px) 80px

    @media (min-width 1280px)
        padding 0 calc(50% - 600px) 140px

    &:not(.header)
        overflow hidden
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease

    &--primary
        background-color --primary-color
        color --white-color

    &--secondary
        background-color --secondary-color

    &--multiple
        relative()

    &--no-pad
        padding 0

    &--no-right-pad
        padding-right 0

    &--standards, &--comfort, &--endoscopy, &--consultations
        padding-right 0
        padding-left 0

        @media (min-width 1280px)
            padding-left calc(50% - 400px)

    &--comfort

        @media (max-width 1279px)

            [data-page="endoscopy"] &
                padding-top 72px

    &--short

        @media (min-width 1280px)
            padding-left calc(50% - 400px)

    &--doctors

        @media (min-width 1280px)
            padding-bottom 0

    &--places

        @media (min-width 1280px)
            padding-bottom 0


    &--white-bottom
        padding-bottom 0

        @media (min-width 1280px)
            padding-bottom 0

    &__desc
        left 60px
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease
        opacity 0
        position relative

    &__title
        border-top 1px solid --primary-color
        font-size 32px
        line-height 1.2
        padding-top 20px
        display flex
        flex-direction column
        max-width 290px
        margin 80px auto 0
        left 60px
        position relative
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease
        opacity 0


        @media (min-width 1280px)
            max-width 1200px
            font-size 52px
            padding-top 40px
            margin-top 140px

        .section--primary &
            border-color --white-color

        &--no-margin
            margin-top 0

        &--short

            @media (min-width 1280px)
                max-width 1000px
                margin-left 0
                margin-right 0

        &--doctors

            @media (min-width 1280px)
                display block

        &--endoscopy

            @media (min-width 1280px)
                padding-right 400px

    &__desc
        margin 24px auto 48px
        line-height 1.4
        max-width 290px

        @media (min-width 1280px)
            font-size 22px
            line-height 1.6
            margin 40px 0 140px
            max-width 800px

        &--experts
            margin-bottom 40px

            @media (min-width 1280px)
                margin-bottom 80px

    &__paragraph

        &:not(:last-child)
            margin-bottom 16px

            @media (min-width 1280px)
                margin-bottom 32px


    .tns, .research, .services, .reviews, .contacts
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease
        transform translateY(60px)
        opacity 0



    &--thisVisible

        .section__title
            left 0
            opacity 1

        .section__desc, .appointment__text
            opacity 1
            left 0
            -webkit-transition-delay .3s
            -moz-transition-delay .3s
            transition-delay .3s

        .appointment__phone
            opacity 1
            left 0
            -webkit-transition-delay .4s
            -moz-transition-delay .4s
            transition-delay .4s

        .appointment__form, .header__desc, .polyps__player, .recovery__desc
            opacity 1
            transform translateY(0)
            -webkit-transition-delay .4s
            -moz-transition-delay .4s
            transition-delay .4s

        .header__button
            opacity 1
            margin-bottom 0
            -webkit-transition-delay .4s
            -moz-transition-delay .4s
            transition-delay .4s

        .appointment__image, .header__canvas, .stories
            opacity 1
            -webkit-transition-delay .3s
            -moz-transition-delay .3s
            transition-delay .3s


        .tns, .research, .services, .reviews, .contacts, .header__title, .polyps__list, .recovery__list, .methods-and-technology__list, .request, .equipment, .faq, .end-olympus, .consultations__list, .about__list
            transform translateY(0)
            opacity 1
            -webkit-transition-delay .2s
            -moz-transition-delay .2s
            transition-delay .2s

