<section class="section section--standards">
    <h2 class="section__title section__title--short">
        <span class="section__line">Наші</span>
        <span class="section__line">стандарти</span>
    </h2>
    <div class="standards tns tns--full tns--standards">
        <ul class="standards__list" id="standards">
            <li class="standards__item">
                <div class="standards__block">
                    <div class="standards__icon standards__icon--consultation"></div>
                    <div class="standards__title">Детальна консультація до 50 хв</div>
                    <div class="standards__desc">Ми скурпульозно вивчимо все, що вас турбує, дамо детальні рекомендації
                        чи складемо план подальшого обстеження
                    </div>
                </div>
            </li>
            <li class="standards__item">
                <div class="standards__block">
                    <div class="standards__icon standards__icon--equipment"></div>
                    <div class="standards__title">Найточніше обладнання в Україні</div>
                    <div class="standards__desc">Ми використовуємо найновіше в Україні японське обладнання Olympus
                        2018
                    </div>
                </div>
            </li>
            <li class="standards__item">
                <div class="standards__block">
                    <div class="standards__icon standards__icon--diagnostics"></div>
                    <div class="standards__title">Діагностика за міжнародними протоколами</div>
                    <div class="standards__desc">Наші лікарі працюють виключно за останніми протоколами Всесвітньої
                        організації охорони здоров’я
                    </div>
                </div>
            </li>
            <li class="standards__item">
                <div class="standards__block">
                    <div class="standards__icon standards__icon--double-control"></div>
                    <div class="standards__title">Подвійний контроль дослідження</div>
                    <div class="standards__desc">Ми використовуємо два монітори під час досліджень, тож кожна
                        маніпуляція лікаря під контролем команди
                    </div>
                </div>
            </li>
            <li class="standards__item">
                <div class="standards__block">
                    <div class="standards__icon standards__icon--control"></div>
                    <div class="standards__title">Контроль усіх призначень</div>
                    <div class="standards__desc">Наприкінці кожного місяця ми аналізуємо якість призначень наших лікарів
                        та стежимо, щоб призначали тільки необхідне
                    </div>
                </div>
            </li>
            <li class="standards__item">
                <div class="standards__block">
                    <div class="standards__icon standards__icon--privacy"></div>
                    <div class="standards__title">Приватність та VIP-сервіс</div>
                    <div class="standards__desc">Ми бережемо конфіденційність та особистий простір пацієнтів. Для тих,
                        хто прагне повної приватності, ми надамо окремий вхід
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
