<header class="section header header--main">
    <div class="header__content">
        <div class="header__title">Безболісна колоноскопія та гастроскопія</div>
        <div class="header__desc">Дослідження на найточнішому обладнанні в Україні</div>
        <div class="header__canvas header__canvas--colonoscopy">
            <img src="images/header/colonoscopy.png" class="header__image header__image--colonoscopy" alt="">
        </div>
        {% include "../blocks/button.twig" with {'text' : 'Записатися', 'class' : 'button--appointment header__button'} %}
        <ul class="social social--header">
            <li class="social__item">
                <a href="/" class="social__link">
                    <span class="icon icon--facebook social__icon social__icon--facebook"></span>
                </a>
            </li>
            <li class="social__item">
                <a href="/" class="social__link">
                    <span class="icon icon--messenger social__icon social__icon--messenger"></span>
                </a>
            </li>
            <li class="social__item">
                <a href="/" class="social__link">
                    <span class="icon icon--viber social__icon social__icon--viber"></span>
                </a>
            </li>
            <li class="social__item">
                <a href="/" class="social__link">
                    <span class="icon icon--telegram social__icon social__icon--telegram"></span>
                </a>
            </li>
        </ul>
        <div class="connection">
            <div class="connection__more">
                <span class="icon icon--arrow connection__arrow connection__arrow--more"></span>
                Більше про нас
            </div>
            <div class="connection__address">вул. Метрологічна, 17/1, Київ</div>
            <div class="connection__phones">
                <div class="connection__number">
                    +38 (044) 503-50-03
                    <span class="icon icon--arrow connection__arrow connection__arrow--phones"></span>
                </div>
                <ul class="connection__list">
                    <li class="connection__item">
                        <a href="tel:+380445035003" class="connection__link">
                            +38 (044) 503-50-03
                            <span class="icon icon--arrow connection__arrow connection__arrow--phones"></span>
                        </a>
                    </li>
                    <li class="connection__item connection__item--second">
                        <a href="tel:+380445035003" class="connection__link">
                            +38 (044) 503-50-03
                        </a>
                    </li>
                    <li class="connection__item connection__item--third">
                        <a href="tel:+380445035003" class="connection__link">
                            +38 (044) 503-50-03
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
