<header class="section header header--pricelist">
    <div class="header__content">
        <div class="header__title">Ціни та послуги</div>
        <div class="header__desc">
            За будь-якими уточненнями ви можете звернутися до нашого контакт-центру
        </div>
        <div class="header__canvas">
            <img src="images/header/olymed.jpg" class="header__image" alt="">
        </div>
        <a href="/" class="header__pdf">
            <span class="icon icon--download header__download"></span>
            Завантажити прайс у PDF
        </a>
        {% include "../blocks/button.twig" with {'text' : 'Записатися', 'class' : 'button--appointment header__button'} %}
        <div class="connection">
            <div class="connection__more">
                <span class="icon icon--arrow connection__arrow connection__arrow--more"></span>
                Більше про дослідження
            </div>
            <a href="/" class="connection__pdf">
                <span class="icon icon--download connection__download"></span>
                Завантажити прайс у PDF
            </a>
            <div class="connection__phones">
                <div class="connection__number">
                    +38 (044) 503-50-03
                    <span class="icon icon--arrow connection__arrow connection__arrow--phones"></span>
                </div>
                <ul class="connection__list">
                    <li class="connection__item">
                        <a href="tel:+380445035003" class="connection__link">
                            +38 (044) 503-50-03
                            <span class="icon icon--arrow connection__arrow connection__arrow--phones"></span>
                        </a>
                    </li>
                    <li class="connection__item connection__item--second">
                        <a href="tel:+380445035003" class="connection__link">
                            +38 (044) 503-50-03
                        </a>
                    </li>
                    <li class="connection__item connection__item--third">
                        <a href="tel:+380445035003" class="connection__link">
                            +38 (044) 503-50-03
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
