<header class="section header header--endoscopy">
    <div class="header__content">
        <div class="header__title">Капсульна ендоскопія</div>
        <div class="header__desc">Ми єдині в Україні використовуємо японську ендоскопічну капсулу з камерою OLYMPUS
            EC-S10, що дозволяє якнайточніше дослідити тонкий кишечник
        </div>
        <div class="header__canvas">
            <img src="images/header/capsule.png" class="header__image" alt="">
        </div>
        <div class="button button--primary button--appointment header__button">
            <span class="button__text" data-text="Записатися">Записатися</span>
            <span class="icon icon--arrow button__arrow"></span>
            <span class="button__price">20 200 грн</span>
        </div>

        <div class="connection">
            <div class="connection__more">
                <span class="icon icon--arrow connection__arrow connection__arrow--more"></span>
                Більше про дослідження
            </div>
        </div>
    </div>
</header>
