<header class="section header header--survey">
    <div class="header__content">
        <div class="header__title">Колоноскопія</div>
        <div class="header__desc">Дослідження на найточнішому обладнанні в Україні</div>
        {% include "../pricing.twig" %}
        {% include "../blocks/button.twig" with {'text' : 'Записатися', 'class' : 'button--appointment header__button'} %}
        <div class="connection">
            <div class="connection__more">
                <span class="icon icon--arrow connection__arrow connection__arrow--more"></span>
                Більше про дослідження
            </div>
        </div>
    </div>
</header>
