<header class="section header header--clinic">
    <div class="header__content">
        <div class="header__title">Комфортна гастроклініка</div>
        <div class="header__desc">
            з дослідженнями на найточнішому обладнанні в Україні
        </div>
        <div class="header__canvas">
            <img src="images/header/clinic.jpg" class="header__image" alt="">
        </div>
        {% include "../blocks/button.twig" with {'text' : 'Записатися', 'class' : 'button--appointment header__button'} %}
        <div class="connection">
            <div class="connection__more">
                <span class="icon icon--arrow connection__arrow connection__arrow--more"></span>
                Більше про дослідження
            </div>
        </div>
    </div>
</header>
