.about

    &__list
        margin-top 64px
        opacity 0
        transform translateY(50px)
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease

        @media (min-width 1280px)
            display flex
            flex-wrap wrap
            justify-content space-between

    &__item

        &:not(:last-child)
            margin-bottom 64px

        &--clinic

            @media (min-width 1280px)
                width 493px

        &--gallery

            @media (min-width 1280px)
                width 620px
                margin-top 36px

        &--coffee

            @media (min-width 1280px)
                width 620px
                margin-top 68px

        &--atmosphere

            @media (min-width 1280px)
                width 478px

        &--parking

            @media (min-width 1280px)
                size(100%, 365px)
                relative()
                margin-top 64px

    &__preview
        width 290px
        overflow hidden

        @media (min-width 1280px)
            width 100%

        .about__item--clinic &
            height 290px
            border-radius 50%

            @media (min-width 1280px)
                height 493px

        .about__item--gallery &
            height 185px
            border-radius 90px

            @media (min-width 1280px)
                height 394px

        .about__item--coffee &
            height 170px
            border-radius 10px

            @media (min-width 1280px)
                height 365px
                border-radius 28px

        .about__item--atmosphere &
            height 260px
            border-radius 24px

            @media (min-width 1280px)
                height 430px
                border-radius 64px

        .about__item--parking &
            height 130px
            border-radius 70px

            @media (min-width 1280px)
                size(822px, 365px)
                absolute right 0 top 0
                border-radius 180px

    &__image
        transition .7s ease

        @media (min-width 1280px)

            .about__item:hover &
                transform scale(1.1)

    &__title
        margin 32px 0 16px
        font-size 24px

        @media (min-width 1280px)
            font-size 26px
            margin 40px 0 20px

        .about__item--parking &

            @media (min-width 1280px)
                margin-top 0
                width 300px

    &__desc
        font-size 16px
        line-height 1.5
        color --gray-color

        .about__item--parking &

            @media (min-width 1280px)
                width 300px
