.appointment
    relative()

    &__text
        font-size 16px
        line-height 1.4
        position relative
        left 50px
        opacity 0
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease

        @media (min-width 1280px)
            font-size 22px
            line-height 1.6
            max-width 420px

        &--with-image

            @media (max-width 1279px)
                padding-right 156px
                height 134px
                display flex
                flex-direction column
                justify-content space-evenly
                margin 32px 0

            @media (min-width 1280px)
                margin-top 56px

    &__paragraph

        @media (min-width 1280px)
            display inline-block

            &:not(:last-child)
                margin-bottom 36px

    &__image
        absolute right 0 top 0
        size(134px)
        border-radius 50%
        background --ternary-color url(../images/appointment.png) 50% 10px / cover no-repeat
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease
        opacity 0

        @media (min-width 1280px)
            size(619px, 698px)
            border-radius 0
            background-color transparent
            background-position 0 0
            top auto
            right 30px
            bottom -140px

    &__phone
        padding 40px 0
        font-size 24px
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease
        left 50px
        position relative
        opacity 0

        @media (min-width 1280px)
            padding 64px 0 56px
            font-size 33px

        //@media (min-width 1280px)
        //    padding 72px 0 64px
        //    font-size 40px

    &__form
        margin-top 40px
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease
        opacity 0
        transform translateY(50px)
        position relative

        @media (min-width 1280px)
            margin-top 48px
            width 418px

    &__input

        @media (min-width 1280px)
            width 350px

    &__button

        @media (min-width 1280px)
            width 350px
