.contacts

    @media (min-width 1280px)
        display flex
        flex-wrap wrap
        margin-top 24px

    &__block
        margin-top 54px

        @media (min-width 1280px)
            width 40%
            margin-top 80px

            &--work-time
                width 20%
                margin-left auto

    &__title
        margin-bottom 16px
        font-size 22px

        @media (min-width 1280px)
            margin-bottom 24px
            font-size 24px

    &__value

        &:not(:last-child)
            margin-bottom 16px


    &__link
        color inherit
        text-decoration none

        &:hover
            text-decoration underline

    &__anchor
        cursor pointer

        &:hover
            text-decoration underline
