.doctors


    &__list
        display flex

    &__container
        relative()
        display flex
        flex-direction column
        height 100%
        justify-content space-between

        @media (min-width 1280px)
            width 480px
            justify-content flex-start

    &__item
        box-sizing border-box
        position relative
        padding-top 20px

        @media (min-width 1280px)
            padding-top 28px
            min-height 390px
            width 480px

        &:before
            content ''
            absolute left 0 top 0
            width 194px
            border-top 1px solid --primary-color

            @media (min-width 1280px)
                width 480px

    &__name
        font-size 18px
        line-height 1.4

        @media (min-width 1280px)
            font-size 24px
            width 220px

    &__specialty
        margin 16px 0 24px
        color rgba(--primary-color, .5)

        @media (min-width 1280px)
            margin 32px 0 48px
            width 220px

    &__desc
        color rgba(--primary-color, .4)
        line-height 1.2

        @media (min-width 1280px)
            width 220px

    &__photo
        margin-top 68px

        @media (min-width 1280px)
            width 345px
            max-width none
            margin-top 0
            absolute right -32px top 48px

    &__types
        font-size 20px
        margin 40px 0 56px

        @media (min-width 1280px)
            font-size 26px
            white-space nowrap
            margin 80px 0 120px

    &__option
        color --quaternary-color
        relative()
        display inline-block
        transition color .5s ease

        &:not(&--active)
            cursor pointer

            &:before, &:after
                content ''
                absolute left 0 bottom -7px
                height 2px

            &:before
                background-color --ternary-color
                width 100%

            &:after
                background-color --primary-color
                width 0
                transition width .5s ease

            &:hover
                color --primary-color

                &:after
                    width 100%

        &--active
            color --primary-color

        &--second
            margin-top 16px

    &__wrap
        relative()

    &__content
        width 100%
        transition .7s ease
        opacity 1
        transform translateY(0)

        &:not(&--visible)
            opacity 0
            z-index -1
            pointer-events none
            absolute left 0 top 0
            transform translateY(10%)
