.end-olympus
    margin-top 56px
    opacity 0
    transform translateY(50px)
    -webkit-transition --anim-transition ease
    -moz-transition --anim-transition ease
    transition --anim-transition ease

    @media (min-width 1280px)
        margin-top 120px

    &__list
        display flex
        flex-wrap wrap
        justify-content space-between

    &__item
        size(130px, 90px)
        margin-bottom 48px
        relative()
        z-index 0
        display flex
        justify-content center
        flex-direction column

        @media (min-width 1280px)
            size(160px, 112px)
            margin-bottom 0

        &:after
            content ''
            size(90px)
            border-radius 50%
            background-color --white-color
            absolute right 0 top 50%
            transform translateY(-50%)
            z-index -1

            @media (min-width 1280px)
                size(112px)

    &__title
        font-size 18px
        margin-bottom 12px

        @media (min-width 1280px)
            font-size 22px

    &__desc
        font-size 13px
        color --gray-color

        @media (min-width 1280px)
            font-size 16px

    &__player
        height 192px
        border-radius 18px
        margin-top 16px

        @media (min-width 1280px)
            margin-top 96px
            height 520px
            border-radius 24px
