.equipment
    margin-top 64px
    margin-bottom -80px
    opacity 0
    transform translateY(50px)
    -webkit-transition --anim-transition ease
    -moz-transition --anim-transition ease
    transition --anim-transition ease

    @media (min-width 1280px)
        margin-top 234px
        margin-bottom -140px

    &__item
        padding-top 80px
        line-height 1.4
        cursor default

        @media (min-width 1280px)
            padding-top 0

        &:not(:last-child)
            margin-bottom 48px

            @media (min-width 1280px)
                margin-bottom 0

        &--olympus

            @media (min-width 1280px)
                margin-left 320px

        &--scopes

            @media (min-width 1280px)
                margin-left 586px
                margin-top 215px

        &--capsule
            padding-top 32px

            @media (min-width 1280px)
                margin-left 656px
                margin-top -555px

        &--reprocessor

            @media (min-width 1280px)
                margin-left 65px
                top -45px

    &__container
        background-color --secondary-color
        border 1px solid transparent
        border-radius 145px
        display flex
        flex-direction column
        padding 0 40px 140px
        transition .7s ease
        relative()

        @media (min-width 1280px)
            box-sizing border-box
            justify-content center
            relative()
            padding-bottom 0

        .equipment__item:nth-child(even) &
            border-radius 24px
            padding-bottom 56px

            @media (min-width 1280px)
                padding-bottom 0

        .equipment__item--olympus &

            @media (min-width 1280px)
                size(845px, 445px)
                padding 0 156px
                border-radius 280px

        .equipment__item--scopes &

            @media (min-width 1280px)
                size(445px, 560px)
                padding 0 64px
                border-radius 100px

        .equipment__item--reprocessor &

            @media (min-width 1280px)
                size(445px, 745px)
                border-radius 220px
                padding 48px 64px 0

        .equipment__item--capsule &

            @media (min-width 1280px)
                size(475px, 585px)
                border-radius 16px
                padding 140px 64px 0

        &:hover
            background-color initial
            border 1px solid --primary-color

    &__image
        margin -80px auto 48px
        pointer-events none

        @media (min-width 1280px)
            margin 0
            position absolute
            transition transform .7s ease

            .equipment__item:hover &
                transform translateY(-24px)

        .equipment__item--olympus &
            width 192px

            @media (min-width 1280px)
                width 350px
                left -257px
                bottom -11px

        .equipment__item--scopes &
            width 209px

            @media (min-width 1280px)
                left -216px
                top -148px
                width 298px

        .equipment__item--capsule &
            width 209px
            margin-top -32px
            margin-bottom 20px

            @media (min-width 1280px)
                top -62px
                left -4px
                width 297px

        .equipment__item--reprocessor &
            width 219px

            @media (min-width 1280px)
                width 297px
                top -205px
                left -65px

    &__title
        font-size 19px

        @media (min-width 1280px)
            font-size 28px

    &__desc
        color rgba(--primary-color, .5)
        margin 20px 0 44px

        @media (min-width 1280px)
            margin 24px 0 48px
            font-size 20px

    &__view
        display flex
        align-items center

        @media (min-width 1280px)
            font-size 18px

    &__play
        font-size 24px
        color --ternary-color
        margin-right 24px
        transition .7s ease

        .equipment__container:hover &
            color --primary-color

    &__player
        absolute left 0 top 0
        size(100%)
        opacity 0
        border-radius inherit
        overflow hidden

        &.player--playing
            opacity 1

            @media (max-width 1199px)
                opacity 0
