.exp-exchange
    margin-top 64px

    @media (min-width 1280px)
        margin-top 96px
        relative()

    &__choose
        margin-bottom 40px

    &__list
        display flex
        flex-direction row
        align-items stretch

    &__container
        background-color --primary-color
        border-radius 18px
        box-sizing border-box
        display flex
        flex-direction column
        padding 32px 28px
        relative()
        size(200px, 100%)
        transition .7s ease

        @media (min-width 1280px)
            width 100%
            padding 48px
            border-radius 8px

            .exp-exchange__item--selected &
                border-radius 64px

        @media (max-width 1279px)

            .exp-exchange__item:not(.tns__item--active) + .tns__item--active &,
            .tns__item--active:first-child &
                border-radius 48px

    &__content
        border-top 1px solid --yellow-color
        padding-top 32px
        font-size 18px
        margin-top 48px
        color --yellow-color

        @media (min-width 1280px)
            padding-top 32px

    &__icon
        size(56px)
        background-color --primary-color
        border-radius 50%
        color --white-color
        display flex
        justify-content center
        align-items center

        @media (min-width 1280px)
            size(70px)

        &.icon--attention
            font-size 22px

            @media (min-width 1280px)
                font-size 28px

        &.icon-star
            font-size 20px

    &__title
        font-size 18px
        line-height 1.4

        @media (min-width 1280px)
            font-size 28px

    &__desc
        margin-top 20px
        font-size 14px
        line-height 1.6

        @media (min-width 1280px)
            font-size 18px
            margin-top 24px

    &__timeline
        width 100%
        absolute left 0 bottom 140px
        box-sizing border-box
        padding 0 calc(50% - 600px) 0 calc(50% - 400px)
        display flex
        border-top 1px solid --ternary-color

        @media (max-width 1279px)
            display none

    &__period
        flex-grow 1
        color rgba(--primary-color, .5)
        margin-top 48px
        max-width 25%
        relative()
        transition color .7s ease

        &:after
            content ''
            absolute left 0 top 0
            transform translateY(calc(-50% - 48px))
            size(9px)
            border-radius 50%
            background-color --ternary-color
            pointer-events none

        &:before
            content ''
            absolute left 0 top 0
            transform translate(-20px, calc(-50% - 48px))
            size(48px)
            border-radius 50%
            border 1px solid --ternary-color
            background-color --white-color
            box-sizing border-box
            pointer-events none
            opacity 0
            transition .7s ease

        &:hover
            color --primary-color
            cursor pointer

            &:before
                opacity 1

        &--active
            color --primary-color

            &:after
                background-color --primary-color
                transform translate(20px, calc(-50% - 48px))

            &:before
                opacity 1
                border-color --primary-color
                transform translate(0, calc(-50% - 48px))

    &__button
        padding 0 24px
        margin-top 56px

        @media (min-width 1280px)
            margin-top 0
            absolute right 0 top -176px
            width 400px
            padding 0 48px

    &__link
        margin-left 10px





