.faq
    margin-top 32px
    opacity 0
    transform translateY(50px)
    -webkit-transition --anim-transition ease
    -moz-transition --anim-transition ease
    transition --anim-transition ease

    @media (min-width 1280px)
        margin-top 80px

    &__list
        counter-reset faq

    &__item
        counter-increment faq
        padding 24px 0
        relative()
        border-bottom 1px solid --ternary-color

        @media (min-width 1280px)
            padding 40px 0

    &__question
        font-size 18px
        line-height 1.4
        relative()
        cursor pointer
        user-select none
        padding 0 36px 0 48px

        @media (min-width 1280px)
            font-size 24px
            padding-left 0

        &:before
            content counter(faq, decimal-leading-zero) '.'
            color --ternary-color

            @media (max-width 1279px)
                absolute left 0 top 0

    &__toggle
        absolute right 0 top 50%
        transform translateY(-50%)
        color --ternary-color
        font-size 24px
        cursor pointer
        transition .7s ease

        &:before
            content '\E00E'

            .collapse--open &
                content '\E009'

        .faq__question:hover &
            color --primary-color

    &__answer
        height 0
        opacity 0
        overflow hidden
        transform translateY(5%)
        transition .7s ease

        .collapse--open &
            height auto
            opacity 1
            transform translateY(0)

    &__text
        padding 40px 0 16px 48px
        line-height 1.4
        font-size 14px
        color rgba(--primary-color, .5)

        @media (min-width 1280px)
            font-size 18px
            padding 64px 100px 24px


