.footer
    padding-bottom 40px

    @media (min-width 1280px)
        padding-bottom 80px

    &__content
        relative()

    &__copyright
        padding 40px 0 20px
        border-top 1px solid --primary-color
        white-space nowrap

        @media (min-width 1280px)
            padding-top 70px

    &__button
        margin 80px 0 64px

        @media (min-width 1280px)
            margin 0
            absolute right 0 bottom 0
            width 338px
