.map
    relative()
    padding-top 24px

    @media (min-width 1280px)
        padding-top 0

    @media (max-width 1279px)
        &:before
            content ''
            size(100%, 24px)
            background-color --white-color

    &__canvas
        size(100%, 400px)

        @media (min-width 1280px)
            height 540px

    &__button
        absolute left 50% top 0
        transform translateX(-50%)
        z-index 2

        @media (min-width 1280px)
            transform translateX(-100%)
