.methods-and-technology
    margin-top 64px

    &__item
        line-height 1.4

        @media (min-width 1280px)
            padding-left 515px
            min-height 345px
            relative()

        &:not(:last-child)
            margin-bottom 64px

    &__player
        height 265px
        transition .7s ease

        &:hover

            @media (min-width 1280px)
                border-radius 28px

        @media (min-width 1280px)
            size(375px, 345px)
            absolute left 0 top 0

            &:after
                content '\E00C'
                font-family 'icons'
                absolute left 0 top 0
                size(100%)
                display flex
                background-color rgba(--primary-color, 0)
                justify-content center
                align-items center
                font-size 32px
                color --white-color
                transition background-color .7s ease, font-size .7s ease

            &.player--playing:after
                content '\E009'

            &:hover

                &:after
                    background-color rgba(--primary-color, .5)
                    font-size 54px

        @media (min-width 1280px)

            &.player--playing
                width 595px
                left -220px
                transition .7s ease
                border-radius 28px

    &__title
        font-size 22px
        padding 32px 0 20px

        @media (min-width 1280px)
            padding-bottom 32px
            border-top 1px solid --primary-color

    &__desc
        color --gray-color


    &__list
        opacity 0
        transform translateY(50px)
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease
