.multiple
    margin-top 64px

    @media (min-width 1280px)
        margin-top 96px
        padding-bottom 165px

    &__choose
        margin-bottom 40px

    &__name

        @media (max-width 1279px)
            display none

        @media (min-width 1280px)
            margin-top -24px
            margin-bottom 72px
            font-size 32px

    &__list
        display flex
        flex-direction row
        align-items stretch
        counter-reset block

        &:not(#multiple)
            display none

    &__item
        counter-increment block

    &__container
        border 1px solid --primary-color
        border-radius 18px
        box-sizing border-box
        display flex
        flex-direction column
        padding 32px 28px
        relative()
        size(200px, 100%)

        @media (min-width 1280px)
            width 320px
            padding 48px

        .multiple__item:not(.tns__item--active) + .tns__item--active &,
        .tns__item--active:first-child &
            border-color transparent
            background-color --secondary-color

    &__content
        border-top 1px solid --primary-color
        padding-top 24px
        font-size 18px
        margin-top 32px

        @media (min-width 1280px)
            padding-top 32px

    &__icon
        size(56px)
        background-color --primary-color
        border-radius 50%
        color --white-color
        display flex
        justify-content center
        align-items center

        @media (min-width 1280px)
            size(70px)

        .multiple__item &
            font-size 16px

            @media (min-width 1280px)
                font-size 18px

            &:before
                content "\E007"

        .multiple__item:nth-child(3n + 2) &
            font-size 22px

            @media (min-width 1280px)
                font-size 26px

            &:before
                content "\E002"

        .multiple__item:nth-child(3n + 3) &
            font-size 20px

            &:before
                content "\E00F"

    &__title
        font-size 18px

        @media (min-width 1280px)
            font-size 22px

    &__time
        margin-top 32px
        font-size 18px

        @media (min-width 1280px)
            margin-top 48px

    &__desc
        margin-top 20px
        font-size 14px
        line-height 1.6

        @media (min-width 1280px)
            font-size 18px
            margin-top 24px

    &__timeline
        width 100%
        absolute left 0 bottom 140px
        box-sizing border-box
        padding 0 calc(50% - 600px) 0 calc(50% - 400px)
        display flex
        justify-content space-between
        border-top 1px solid --ternary-color

        @media (max-width 1279px)
            display none

    &__period
        color rgba(--primary-color, .5)
        margin-top 48px
        relative()
        transition color .7s ease

        &:after
            content ''
            absolute left 0 top 0
            transform translateY(calc(-50% - 48px))
            size(9px)
            border-radius 50%
            background-color --ternary-color
            transition .7s ease

        &:before
            content ''
            absolute left 0 top 0
            transform translate(-20px, calc(-50% - 48px))
            size(48px)
            border-radius 50%
            border 1px solid --ternary-color
            background-color --white-color
            box-sizing border-box
            opacity 0
            transition .7s ease

        &:hover
            color --primary-color
            cursor pointer

            &:before
                opacity 1

        &--active
            color --primary-color

            &:after
                background-color --primary-color
                transform translate(20px, calc(-50% - 48px))

            &:before
                opacity 1
                border-color --primary-color
                transform translate(0, calc(-50% - 48px))





