.places
    padding-top 72px
    padding-bottom 36px

    @media (min-width 1280px)
        display flex
        padding-bottom 0

    &__aside

        @media (min-width 1280px)
            width 50%
            box-sizing border-box
            padding-right 72px

    &__types
        font-size 20px

        @media (min-width 1280px)
            font-size 26px
            white-space nowrap

    &__option
        color --quaternary-color
        relative()
        display inline-block
        transition color .5s ease

        &:not(&--active)
            cursor pointer

            &:before, &:after
                content ''
                absolute left 0 bottom -7px
                height 2px

            &:before
                background-color --ternary-color
                width 100%

            &:after
                background-color --primary-color
                width 0
                transition width .5s ease

            &:hover
                color --primary-color

                &:after
                    width 100%

        &--active
            color --primary-color

        &--second
            margin-top 32px

    &__content
        height 315px
        relative()
        margin-top 40px

        @media (min-width 1280px)
            height 320px
            margin-top 120px

    &__list
        absolute left 0 top 0
        width 100%

        &:not(&--visible)
            visibility hidden
            z-index -1
            pointer-events none

    &__item
        display flex
        box-sizing border-box
        opacity 0
        transform translateX(-16px)

        .places__list--visible &
            opacity 1
            transform translateX(0)
            transition .7s ease

            for item in 1..4

                &:nth-child({item})
                    transition-delay .15s * item


        &:not(:last-child)
            border-bottom 1px solid --ternary-color

    &__link
        display flex
        padding 20px 0
        color --primary-color
        line-height 1.4
        font-size 14px
        text-decoration none
        relative()
        width 100%

        @media (min-width 1280px)
            padding 30px 0
            white-space nowrap

    &__icon
        font-size 17px
        absolute right 0 top 50%
        transform translateY(-50%)
        opacity .1
        transition .5s ease

        .places__link:hover &
            opacity 1

        @media (min-width 1280px)
            right 20px

    &__address
        max-width 220px

    &__image
        display block
        width 100%
        margin-top 20px

        @media (min-width 1280px)
            width 50%
            margin-top 0
