.polyps
    margin-bottom -80px

    @media (min-width 1280px)
        margin-bottom -140px

    &__list
        margin 48px 0 64px
        opacity 0
        transform translateY(50px)
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease

        @media (min-width 1280px)
            display flex
            justify-content space-between
            margin 96px 0

    &__item

        @media (min-width 1280px)
            width 270px

        &:not(:last-child)
            margin-bottom 40px

    &__title
        relative()
        padding 40px 0
        font-size 22px
        line-height 1

        @media (min-width 1280px)
            padding 32px 0

        &:before
            content ''
            absolute right 42px top 50%
            transform translateY(-50%)
            size(114px)
            background-color rgba(--secondary-color, .7)
            border-radius 50%
            z-index -1

            @media (min-width 1280px)
                size(160px)
                right 0

    &__desc
        line-height 2
        color --gray-color

    &__player
        height 192px
        border-radius 18px
        opacity 0
        transform translateY(50px)
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease

        @media (min-width 1280px)
            height 520px
            border-radius 24px
