.pricelist
    padding-top 86px

    @media (min-width 1280px)
        padding-top 170px

    &__container

        &:not(:first-child)
            margin-top 80px

            @media (min-width 1280px)
                margin-top 140px

    &__list
        height 0
        opacity 0
        overflow hidden
        transform translateY(5%)
        transition .7s ease

        .collapse--open &
            height auto
            opacity 1
            transform translateY(0)

    &__item
        relative()

        @media (min-width 1280px)
            padding-right 280px

        &:not(:last-child)
            margin-bottom 32px
            border-bottom 1px solid --secondary-color
            padding-bottom 32px

    &__title
        font-size 32px
        line-height 1.2
        padding-top 20px
        border-top 1px solid --primary-color
        relative()
        cursor pointer

        @media (min-width 1280px)
            font-size 52px
            line-height 1
            padding-top 40px

        .collapse--open &
            margin-bottom 48px

            @media (min-width 1280px)
                margin-bottom 80px


    &__toggle
        absolute right 0 top 50%
        transform translateY(-50%)
        color --primary-color
        font-size 24px
        cursor pointer
        transition .7s ease
        z-index -1

        @media (min-width 1280px)
            font-size 40px
            color --ternary-color

            .pricelist__title:hover &
                color --primary-color

        &:before
            content '\E00E'

            .collapse--open &
                content '\E009'
                color --ternary-color

            .collapse--open .pricelist__title:hover &
                color --primary-color

    &__number
        font-size 16px
        color #98A2AA
        margin-bottom 24px

        @media (min-width 1280px)
            margin-bottom 0
            absolute left -100px top 0
            line-height 28px

    &__type
        font-size 20px
        line-height 1.4
        margin-bottom 16px

    &__desc
        font-size 14px
        line-height 1.6
        margin-bottom 24px
        color #98A2AA

    &__price
        font-size 20px

        @media (min-width 1280px)
            absolute right 0 top 0
            line-height 28px

