.recovery

    &__list
        counter-reset number
        opacity 0
        transform translateY(50px)
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease

    &__item
        counter-increment number
        margin-top 130px
        relative()
        font-size 18px
        line-height 1.6

        @media (min-width 1280px)
            font-size 22px
            margin-top 200px
            max-width 720px

        &:before
            content counter(number)
            line-height 1
            font-size 126px
            font-style italic
            color rgba(--ternary-color, .35)
            absolute left -10px top -65px
            z-index -1

            @media (min-width 1280px)
                font-size 180px
                top -100px

    &__desc
        font-size 16px
        line-height 1.4
        margin-top 24px
        opacity 0
        transform translateY(50px)
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease

        @media (min-width 1280px)
            margin-top 124px
            max-width 720px
            font-size 22px
            line-height 1.6
