.request
    margin-top 64px
    relative()
    opacity 0
    transform translateY(50px)
    -webkit-transition --anim-transition ease
    -moz-transition --anim-transition ease
    transition --anim-transition ease

    @media (min-width 1280px)
        margin-top 80px

    &__form

        @media (min-width 1280px)
            display flex

    &__input

        @media (min-width 1280px)
            width 475px

    &__button
        margin-top 12px

        @media (min-width 1280px)
            width 350px
            margin-top 0
            margin-left 40px
