.research
    margin-top 64px

    @media (min-width 1280px)
        margin-top 96px
        margin-bottom -64px

    &__list

        @media (min-width 1280px)
            display flex
            justify-content space-between

    &__item
        display flex
        flex-direction column

        &:not(:last-child)

            @media (max-width 1279px)
                margin-bottom 24px

    &__link
        background-color --secondary-color
        width 268px
        box-sizing border-box
        padding 48px 36px 48px 40px
        position relative
        display flex
        flex-direction column

        @media (min-width 1280px)
            background-color initial
            width 220px
            z-index 0
            padding 330px 0 64px

            .research--others &
                width 270px

        .section--secondary &
            background-color --white-color

            @media (min-width 1280px)
                background-color initial

        &:before

            @media (min-width 1280px)
                content ''
                absolute left 50% bottom 0
                transform translateX(-50%)
                size(145%, 90%)
                background-color --secondary-color
                opacity 0
                z-index -1
                pointer-events none
                transition .7s ease

                .section--secondary &
                    background-color --white-color

        &:hover

            @media (min-width 1280px)

                &:before
                    opacity 1

    &__image
        height 220px
        pointer-events none

        @media (max-width 1279px)
            absolute left calc(100% - 30px) top 50%
            transform translateY(-50%)

        @media (min-width 1280px)
            absolute left 0 top 0
            transition .7s ease
            height 290px
            object-fit contain

            .research__link:hover &
                transform translateY(-10%)

    &__title
        line-height 1.4
        font-size 24px

        @media (min-width 1280px)
            padding-top 28px
            border-top 1px solid --primary-color

            .research--others &
                padding-right 48px

    &__desc
        line-height 1.8
        font-size 14px
        color rgba(--primary-color, .5)
        margin 16px 0 32px

        @media (min-width 1280px)
            font-size 16px
            margin 24px 0 64px
            min-height 168px

            .research--others &
                min-height 112px

    &__more

        @media (min-width 1280px)
            display flex
            align-items center

    &__arrow
        font-size 12px
        margin-left 24px
        margin-top 2px
        transition .7s ease

        .research__link:hover &
            margin-left 32px
