.reviews
    padding-top 44px

    &__list
        display flex

    &__rating
        display flex
        align-items center
        justify-content space-between
        margin-bottom 56px

        @media (min-width 1280px)
            display inline-flex

    &__stars
        background url(../images/reviews/stars.svg) 0 0 / cover no-repeat
        size(113px, 16px)
        relative()

        @media (min-width 1280px)
            size(127px, 18px)

        &:before
            content ''
            absolute left 0 top 0
            height 100%
            max-width 100%
            background url(../images/reviews/stars--fill.svg) 0 0 / cover no-repeat

            for integer in 1..5
                .reviews__rating[data-rating=\"{integer}\"] &
                        width 20% * (integer)
                if integer != 5
                    for decimal in 1..9
                        .reviews__rating[data-rating=\"{integer + decimal / 10}\"] &
                            width 20% * (integer + decimal / 10)
    &__label
        color rgba(--primary-color, .5)
        transform translateY(2px)
        transition .7s ease

        &:hover
            color --primary-color

        @media (min-width 1280px)
            margin-left 24px

    &__comment
        color rgba(--primary-color, .5)
        margin 100px 0 32px
        font-size 14px
        line-height 1.4
        position relative

        &:before
            content '“'
            position absolute
            left 0
            top -44px
            font-size 72px
            color --primary-color
            line-height 1

    &__author
        display flex
        align-items center

    &__photo
        width 40px
        height 40px
        border-radius 50%
        overflow hidden
        margin-right 20px

    &__image
        display block
        max-width 100%


