.services

    &__item
        position relative
        line-height 1.6
        margin-top 80px
        z-index 0

        @media (min-width 1280px)
            display flex
            justify-content space-between
            margin-top 148px
            margin-bottom 64px

        &:before
            content '+'
            font-size 126px
            font-style italic
            absolute left -30px top -55px
            line-height 1
            color rgba(--ternary-color, .35)
            z-index -1

            .section--secondary &
                color rgba(--white-color, .7)

            @media (min-width 1280px)
                font-size 180px
                left -65px
                top -65px

    &__title
        font-size 20px
        margin-bottom 16px

        @media (min-width 1280px)
            width 310px
            line-height 1.2
            font-size 24px
            margin-bottom 0

    &__desc
        color rgba(--primary-color, .5)

        @media (min-width 1280px)
            width 490px
