.stages
    margin-top 64px

    @media (min-width 1280px)
        margin-top 96px

    &__list
        display flex
        counter-reset block

    &__item
        counter-increment block

    &__container
        background-color --white-color
        border-radius 18px
        box-sizing border-box
        display flex
        flex-direction column
        padding 56px 28px 48px
        relative()
        overflow hidden

        @media (min-width 1280px)
            padding 96px 48px

        &:before
            content counter(block, decimal-leading-zero)
            border-top 1px solid --primary-color
            padding 24px 0 32px
            font-size 18px

            @media (min-width 1280px)
                font-size 24px
                padding 32px 0

    &__player
        size(145px)
        border-radius 50%

        @media (min-width 1280px)
            size(278px)

        &.player--playing
            position initial

            .player__video
                absolute left 0 top 0
                size(100%)


    &__desc
        margin-top 32px
        font-size 14px
        line-height 1.4

        @media (min-width 1280px)
            margin-top 48px
            font-size 18px
