.standards
    margin 64px auto 0

    @media (min-width 1280px)
        margin 0
        max-width 1000px

    &__list
        display flex

        @media (min-width 1280px)
            flex-wrap wrap

    &__item
        width 60%
        min-width 164px

        @media (min-width 1280px)
            width calc(100% / 3)
            margin-top 120px
            display flex

            &:nth-child(3n + 2)
                justify-content center

            &:nth-child(3n + 3)
                justify-content flex-end

    &__block
        width 164px

        @media (min-width 1280px)
            width 244px

    &__title
        margin 24px 0 12px
        font-size 18px
        line-height 1.4

        @media (min-width 1280px)
            margin 44px 0 32px
            font-size 22px

    &__icon
        background-size cover

        &--consultation
            background-image url(../images/standards/consultation.svg)
            size(39px, 92px)

            @media (min-width 1280px)
                size(55px, 130px)

        &--equipment
            background-image url(../images/standards/equipment.svg)
            size(66px, 92px)

            @media (min-width 1280px)
                size(92px, 130px)

        &--diagnostics
            background-image url(../images/standards/diagnostics.svg)
            size(79px, 92px)

            @media (min-width 1280px)
                size(111px, 130px)

        &--double-control
            background-image url(../images/standards/double-control.svg)
            size(65px, 92px)

            @media (min-width 1280px)
                size(91px, 130px)

        &--control
            background-image url(../images/standards/control.svg)
            size(79px, 92px)

            @media (min-width 1280px)
                size(111px, 130px)

        &--privacy
            background-image url(../images/standards/privacy.svg)
            size(64px, 92px)

            @media (min-width 1280px)
                size(91px, 130px)

    &__desc
        font-size 14px
        line-height 1.6
        color --gray-color

        @media (min-width 1280px)
            font-size 16px
