.stories
    margin-top 56px
    opacity 0
    -webkit-transition --anim-transition ease
    -moz-transition --anim-transition ease
    transition --anim-transition ease

    &__list
        display flex

    &__item
        background-color --white-color
        overflow hidden
        relative()

        @media (max-width 1279px)

            &:not(.stories--expanded)
                max-height 760px

                &:before
                    content ''
                    absolute left 0 bottom 0
                    size(100%, 200px)
                    background linear-gradient(to bottom, rgba(--white-color, 0) 0%, --white-color 50%)
                    pointer-events none

    &__image
        size(100%, 170px)
        object-fit cover

        @media (min-width 1280px)
            height 370px

    &__container
        border-top 1px solid --primary-color
        line-height 1.4
        margin 56px 28px 32px

        @media (min-width 1280px)
            margin 104px

    &__title
        margin 24px 0 40px
        font-size 22px
        line-height 1.4

        @media (min-width 1280px)
            font-size 32px
            margin 40px 0 72px

    &__subtitle
        font-size 20px
        margin-bottom 20px

        @media (min-width 1280px)
            font-size 24px
            margin-bottom 32px

    &__desc
        font-size 14px
        color --gray-color

        @media (min-width 1280px)
            font-size 16px

    &__block

        &:not(:last-child)
            margin-bottom 40px

            @media (min-width 1280px)
                margin-bottom 64px

    &__paragraph

        &:not(:last-child)
            margin-bottom 20px

            @media (min-width 1280px)
                margin-bottom 32px

    &__expand
        absolute left 28px bottom 0 right 28px
        border-top 1px solid --ternary-color
        padding 32px 0
        cursor pointer
        display flex

        .stories--expanded &
            display none

        @media (min-width 1280px)
            display none

    &__arrow
        font-size 10px
        transform rotate(90deg)
        margin-left 16px

    &__author
        display flex
        align-items center
        margin-top 40px

        @media (min-width 1280px)
            margin-top 80px

    &__frame
        size(32px)
        border-radius 50%
        overflow hidden

        @media (min-width 1280px)
            size(56px)

    &__photo
        object-fit cover
        height 100%

    &__name
        margin-left 16px
        font-size 14px

        @media (min-width 1280px)
            font-size 16px
            margin-left 20px

