<section class="section">
    <h2 class="section__title">Інші дослідження</h2>
    <div class="research research--others">
        <ul class="research__list">
            <li class="research__item">
                <a href="/" class="research__link">
                    <img src="images/research/gastoscopy.png" class="research__image" alt="Гастроскопія">
                    <span class="research__title">Комфортна гастроскопія</span>
                    <span class="research__desc">
                        Ми проведемо дослідження під медикаментозним сном.
                        Ви будете спокійно дихати без жодних неприємних відчуттів
                    </span>
                    <span class="research__more">
                        <span class="research__details">Детальніше</span>
                        <span class="icon icon--arrow research__arrow"></span>
                    </span>
                </a>
            </li>
            <li class="research__item">
                <a href="/" class="research__link">
                    <img src="images/research/endoscopy.png" class="research__image" alt="Капсульна ендоскопія">
                    <span class="research__title">Капсульна ендоскопія</span>
                    <span class="research__desc">
                        Ви проковтнете капсулу з камерою, яка передаватиме точні знімки вашої тонкої кишки на
                        спеціальний пристрій
                    </span>
                    <span class="research__more">
                        <span class="research__details">Детальніше</span>
                        <span class="icon icon--arrow research__arrow"></span>
                    </span>
                </a>
            </li>
            <li class="research__item">
                <a href="/" class="research__link">
                    <img src="images/research/consultation.png" class="research__image" alt="Консультація лікаря">
                    <span class="research__title">Консультація лікаря</span>
                    <span class="research__desc">
                        Впродовж 50 хв лікар детально вивчить вашу історію хвороби та складе план дій для точного
                        діагнозу
                    </span>
                    <span class="research__more">
                        <span class="research__details">Детальніше</span>
                        <span class="icon icon--arrow research__arrow"></span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
