.appointment-request
    fixed left 0 top 0
    size(100%)
    background-color --secondary-color
    display flex
    z-index 20
    opacity 0
    pointer-events none
    transition opacity .5s ease
    cursor pointer

    @media (min-width 1280px)
        background-color rgba(--secondary-color, .8)

    &--show
        opacity 1
        pointer-events auto

    &__close
        absolute right 20px top 20px
        font-size 18px
        color rgba(--primary-color, .5)
        transition .5s ease

        &:hover
            color --primary-color

    &__container
        margin auto
        cursor default
        relative()

        @media (min-width 1280px)
            padding 48px
            background-color --white-color

    &__title
        border-top 1px solid --primary-color
        font-size 32px
        line-height 1.2
        padding-top 20px
        display flex
        flex-direction column
        max-width 290px
        margin 0 auto

    &__form
        margin-top 32px
        padding 32px 0

        @media (min-width 1280px)
            padding-bottom 0
