.button
    outline none
    display flex
    align-items center
    size(290px, 72px)
    background-color --primary-color
    box-sizing border-box
    padding 0 48px
    color --white-color
    font-size 16px
    font-weight bold
    overflow hidden
    cursor pointer
    border 1px solid transparent
    transition background-color .7s ease, border-color .7s ease, color .7s ease

    @media (max-width 1279px)

        .header--endoscopy &
            height 134px
            align-items flex-start
            padding 28px 48px
            bottom -80px

    @media (min-width 1280px)
        height 80px

        &:hover
            background-color --white-color
            border-color --primary-color
            color --primary-color

        &:active
            border-color transparent

    &__text
        white-space nowrap
        relative()
        transition transform .35s ease

        @media (min-width 1280px)

            .button:not(.header__button):hover &
                transform translateY(-300%)

                &:after
                    content attr(data-text)
                    absolute left 0 top 300%


    &__arrow
        font-size 12px
        margin-left 24px
        margin-top 1px
        transition margin-left .3s ease

        @media (min-width 1280px)

            .button:hover &
                margin-left 32px

    &__icon
        margin-left 12px

    &__price
        absolute top 64px
        font-weight normal
        font-size 18px

        @media (min-width 1280px)
            top 94px
