.choose
    display flex
    relative()

    @media (min-width 1280px)
        display none

    &__select
        outline none
        border none
        padding 0
        background none
        margin 0
        font-family inherit
        font-size 18px
        color rgba(--primary-color, .75)
        appearance none
        absolute left 0 top 0
        opacity 0

    &__selected
        display flex
        align-items center

    &__option
        font-size 16px

    &__value
        color --gray-color

    &__arrow
        transform rotate(90deg)
        margin-left 16px
