.form

    &__label
        display block
        relative()
        margin-bottom 20px

    &__input
        size(290px, 72px)
        border 1px solid --primary-color
        outline none
        background-color transparent
        padding 40px 48px 20px
        box-sizing border-box
        font-size 16px
        box-shadow none
        border-radius 0
        appearance none
        font-family inherit
        color --primary-color
        transition color .7s ease, background-color .7s ease

        &--empty
            animation empty .7s ease

            @keyframes empty
                0%, 100%
                    transform translateX(0)
                20%
                    transform translateX(10px)
                40%
                    transform translateX(-10px)
                60%
                    transform translateX(5px)
                80%
                    transform translateX(-5px)

        &:not(:placeholder-shown)
        &:focus
            background-color --white-color

            + span
                transform translateY(-150%)
                font-size 12px

                @media (min-width 1280px)
                    transform translateY(-175%)

        @media (min-width 1280px)
            height 80px
            font-size 20px

    &__placeholder
        absolute left 48px top 50%
        transform translateY(-50%)
        color rgba(--primary-color, .35)
        transform-origin 0 0
        transition .7s ease
