.languages
    display flex
    height 12px

    @media (max-width 1279px)
        margin-left auto
        margin-right 46px

    @media (min-width 1280px)
        order 3

    &__item
        color inherit
        font-size 14px

        &:not(:last-child)
            margin-right 16px

        @media (min-width 1280px)
            relative()

            &:not(:last-child)
                margin-right 24px

            &:not(.languages__item--active)

                &:before
                    content ''
                    size(48px)
                    background-color --white-color
                    border-radius 50%
                    absolute left 50% top 50%
                    transform translate(-50%, -50%)
                    opacity 0
                    transition .7s ease
                    pointer-events none
                    z-index -1

                    .overhead--footer &, .overhead--fixed &
                        background-color --secondary-color

                &:hover

                    &:before
                        opacity 1

    &__link
        color --quaternary-color
        text-decoration none
        transition .7s ease

        &:hover
        .languages__item--active &
            color --primary-color
