.nav

    @media (min-width 1280px)
        order 2

    &__switch
        size(20px, 18px)
        display flex
        flex-direction column
        justify-content center
        relative()

        @media (min-width 1280px)
            display none

    &__line
        width 100%
        height 2px
        background-color --primary-color
        transition .7s ease

        &:not(&--short)
            absolute left 0

        &--top
            top 0

            .nav--show &
                transform rotate(-45deg)
                top auto
                bottom 8px

        &--short
            max-width 17px
            transition .3s .15s ease

            .nav--show &
                width 0
                transition none

        &--bottom
            bottom 0

            .nav--show &
                transform rotate(45deg)
                bottom auto
                top 8px

    &__content
        box-sizing border-box

        .nav--show &
            transform scaleY(1)

        @media (max-width 1279px)
            transform scaleY(0)
            transform-origin top
            fixed left 0 top 72px
            width 100%
            overflow auto
            height calc(100% - 72px)
            background-color --secondary-color
            z-index 20
            transition transform .35s ease

        @media (min-width 1280px)
            overflow visible

            .overhead--fixed &
                display flex
                align-items center

    &__list

        @media (max-width 1279px)
            padding 8px calc(50% - 145px) 0

            .nav__item--dropdown &
                width 100%

        @media (min-width 1280px)
            display flex

            .overhead--fixed .nav__item--dropdown &
                absolute left 50% top 58px
                transform translateX(-50%)
                display flex
                flex-direction column
                background-color --white-color
                padding 8px 32px
                opacity 0
                transition opacity .7s ease
                pointer-events none
                border 1px solid --secondary-color

                &:before
                    content ''
                    absolute left 0 top -40px
                    size(100%, 44px)

            .overhead--fixed .nav__item--dropdown:hover &
                opacity 1
                pointer-events initial

    &__item
        relative()

        @media (max-width 1279px)
            display flex

            &:not(:last-child)
                border-bottom 1px solid --ternary-color

        @media (min-width 1280px)

            &--main
                display none

            &:not(:last-child)
                margin-right 56px

                .overhead--fixed &
                    margin-right 48px

            &:not(.nav__item--dropdown):before
                content ''
                size(72px)
                background-color --white-color
                border-radius 50%
                absolute left 50% top 50%
                transform translate(-50%, -50%)
                opacity 0
                transition .7s ease
                pointer-events none
                z-index -1

                .nav__item--dropdown &
                    size(72px)

                    .overhead--fixed &
                        size(52px)

                .overhead--footer &, .overhead--fixed &
                    background-color --secondary-color

            &:hover,
            &.nav__item--active

                &:before
                    opacity 1

            .overhead--fixed &--dropdown
                display flex
                align-items center
                overflow hidden

                &:after
                    content '...'
                    size(40px, 18px)
                    box-sizing border-box
                    border-radius 10px
                    display flex
                    justify-content center
                    line-height 6px
                    letter-spacing 1px
                    font-size 26px
                    border 1px solid --ternary-color
                    transition .7s ease

                &:hover

                    &:after
                        background-color --primary-color
                        border-color --primary-color
                        color --white-color

            .overhead--visible &--dropdown
                overflow initial

            .overhead--fixed .nav__item--dropdown &
                padding 24px 0
                text-align center

                &:not(:last-child)
                    margin-right 0
                    border-bottom 1px solid --ternary-color


    &__link
        font-size 22px
        text-decoration none
        color --primary-color
        cursor pointer
        width 100%

        @media (min-width 1280px)
            font-size 15px
            width auto

        .nav__item:not(.nav__item--dropdown) &
            padding 24px 0

            @media (min-width 1280px)
                padding 0

    &__button
        margin 24px auto 48px

        @media (min-width 1280px)
            display none

            .overhead--fixed &
                display flex
                margin 0 0 0 48px
                size(160px, 50px)
                padding 0
                justify-content center
                font-size 15px

    &__footer

        @media (max-width 1279px)
            padding 56px 0
            text-align center
            background-color --white-color

        @media (min-width 1280px)
            display none

    &__contacts

        @media (max-width 1279px)
            display flex
            flex-direction column
            margin-bottom 48px

        @media (min-width 1280px)
            absolute left 0 bottom 64px

    &__address

        @media (max-width 1279px)
            margin-bottom 48px

    &__phone

        @media (max-width 1279px)

            &:not(:last-child)
                margin-bottom 24px

