.overhead
    display flex
    align-items center
    box-sizing border-box

    @media (min-width 1280px)
        justify-content space-between

    &--header
        fixed left 0 top 0
        width 100%
        padding 24px calc(50% - 145px)
        background-color --secondary-color
        z-index 10
        box-sizing border-box

        @media (max-width 1279px)

            &:not(.overhead--show)
                html:not([data-scroll="0"]) &
                    background-color --white-color
                    border-bottom 1px solid --secondary-color
                    transition color .7s ease


        @media (min-width 1280px)
            padding 48px calc(50% - 600px)
            position absolute
            background-color transparent

    &--fixed

        @media (min-width 1280px)
            padding 24px calc(50% - 600px)
            background-color --white-color
            position fixed
            border-bottom 1px solid --secondary-color

            &:not(.overhead--visible)
                transform translateY(-100%)

    &--transition

        @media (min-width 1280px)
            transition transform .7s ease, color .7s ease

    &--visible

        @media (min-width 1280px)
            transform translateY(0)
            overflow initial


    &--footer
        padding 80px 0 56px

        @media (max-width 1279px)
            display none

    &__logotype
        size(68px, 24px)
        relative()

        &:after
            content ''
            absolute left 0 top 0
            size(100%)
            background url(../images/olymed.svg) 0 0 / cover no-repeat

        @media (min-width 1280px)
            size(97px, 34px)

            &:before
                content ''
                size(72px)
                background-color --white-color
                border-radius 50%
                absolute right 0 top 50%
                transform translateY(-50%)
                opacity 0
                transition .7s ease
                pointer-events none

                .overhead--footer &, .overhead--fixed &
                    background-color --secondary-color


            &:hover

                &:before
                    opacity 1
