.player
    overflow hidden
    cursor pointer
    relative()

    &:not(.player--playing)

        &:after
            content '\E00D'
            font-family 'icons'
            absolute left 0 top 0
            size(100%)
            display flex
            background-color rgba(--primary-color, 0)
            justify-content center
            align-items center
            font-size 32px
            color --white-color
            transition background-color .7s ease, font-size .7s ease

            .player--playing &
                content '\E009'

        @media (min-width 1280px)

            &:hover

                &:after
                    background-color rgba(--primary-color, .5)
                    font-size 54px

    &__container
        position absolute
        size(100%)
        display flex
        transition color .7s ease

        @media (min-width 1280px)
            .player--playing &
                fixed top 0 left 0
                background-color rgba(--secondary-color, .8)
                z-index 20

    &__close
        absolute right 20px top 20px
        font-size 18px
        color rgba(--primary-color, .5)
        transition .7s ease

        &:hover
            color --primary-color

        .player:not(.player--playing) &
            display none

        @media (max-width 1279px)
            display none

    &__video
        object-fit cover
        size(100%)
        outline none
        transition .7s ease

        @media (min-width 1280px)

            .player--playing &
                margin auto
                transform scale(.75)
                opacity .75
                size(1000px, 520px)
                transform-origin 50% 50%
                animation playerTransform .3s ease forwards

            @keyframes playerTransform
                from
                    transform scale(.75)
                    opacity .75
                to
                    transform scale(1)
                    opacity 1
