.response
    absolute left 0 top 0
    size(100%)
    background-color --white-color
    z-index 3
    transition opacity .7s ease
    line-height 1.4
    box-sizing border-box
    padding 0 40px
    display flex
    flex-direction column
    justify-content center

    @media (min-width 1280px)
        padding 0 80px

    &--appointment

        @media (min-width 1280px)
            max-width 420px

    &--request
        height 325px
        top -161px

        @media (min-width 1280px)
            height calc(100% + 64px)
            top -32px
            flex-direction row
            align-items center

    &--consultations
        background-color --secondary-color

        @media (min-width 1280px)
            height calc(100% + 96px)
            top -48px
            padding 0 64px

    &:not(&--visible)
        opacity 0
        pointer-events none

    &__close
        absolute right 24px top 24px
        font-size 18px
        cursor pointer
        color --ternary-color
        transition color .7s ease

        .response--consultations &
            color --quaternary-color

        &:hover
            color --primary-color

    &__title
        font-size 24px

        @media (min-width 1280px)
            font-size 32px

    &__text
        font-size 18px

        .response--appointment &,
        .response--appointment-request &,
        .response--request &,
        .response--consultations &
            margin-top 20px

        @media (min-width 1280px)
            font-size 22px

            .response--request &
                margin-top 0
