.social
    display flex

    &--nav
        justify-content center

    &--header
        absolute right 0 top calc(50% - 80px)
        transform translateY(-50%)
        flex-direction column

        @media (max-width 1279px)
            display none

        @media (min-height 800px)
            top calc(50% - 110px)

        @media (min-width 1280px)
            transform translateY(-50%) translateX(50%)

    &--contacts
        margin-top 40px

        @media (min-width 1280px)
            margin-left -16px

    &__item

        .social:not(.social--header):not(.social--contacts) &:not(:last-child)
            margin-right 16px

        .social--contacts &

            &:not(:last-child)
                margin-right 16px

        .social--header &

            &:not(:last-child)
                margin-bottom 28px


    &__link
        size(54px)
        box-sizing border-box
        border 1px solid --white-color
        border-radius 50%
        display flex

        .social--nav &
            border-color --ternary-color

        .social--header &
            relative()
            size(62px)

            @media (min-width 1280px)
                border none

            &:before
                content ''
                size(62px)
                background-color --white-color
                border-radius 50%
                absolute left 50% top 50%
                transform translate(-50%, -50%) translate3d(0, 0, 0)
                opacity 0
                z-index -1
                transition opacity .7s ease

            &:hover

                &:before
                    opacity 1

        .social--contacts &

            @media (min-width 1280px)
                relative()
                z-index 0
                color --secondary-color
                transition .7s ease
                display flex
                border none

                &:not(:last-child)
                    margin-right 64px

                &:before
                    content ''
                    size(54px)
                    border 1px solid --white-color
                    border-radius 50%
                    box-sizing border-box
                    absolute left 50% top 50%
                    transform translate(-50%, -50%) translate3d(0, 0, 0)
                    opacity 0
                    z-index -1
                    transition opacity .3s

                &:hover
                    color --white-color

                    &:before
                        opacity 1

    &__icon
        display flex
        margin auto

        &--facebook
            font-size 17px

        &--messenger
            font-size 16px

        &--viber
            font-size 18px

        &--telegram
            font-size 14px
