.support
    fixed right 16px bottom 16px
    display flex
    flex-direction column
    z-index 20
    transform-origin 100% 50%
    transition .5s ease

    &:not(&--visible)
        opacity 0
        pointer-events none
        transform scale(0)
        transition none

    @media (min-width 1280px)
        display none

    &__link, &__social
        size(46px)
        background-color --secondary-color
        display flex
        border-radius 50%

    &__link

        &--social
            border 1px solid --ternary-color
            background-color --white-color
            transition .5s ease

            .support__social:not(.support__social--show) &
                opacity 0
                pointer-events none
                transition none
                transform translateX(-100%)

            &:not(:last-child)
                margin-right 8px

        &--tel
            font-size 15px

        &--facebook
            font-size 17px
            transition-delay .75s

        &--messenger
            font-size 16px
            transition-delay .5s

        &--viber
            font-size 18px
            transition-delay .25s

        &--telegram
            font-size 13px

    &__icon
        display flex
        margin auto

    &__social
        relative()
        margin-top 6px

        &:before
            content '\E006'
            font-size 11px
            margin auto

        &--show
            background-color --primary-color
            color --white-color

            &:before
                content '\E012'
                font-size 13px

    &__list
        absolute right calc(100% + 8px) top 0
        display flex
        color --primary-color
