.universal
    margin-top 64px

    @media (min-width 1280px)
        margin-top 96px

    &--comfort

        @media (min-width 1280px)
            max-width 1000px

    &__list
        display flex
        counter-reset block

    &__item
        counter-increment block

    &__container
        height 326px
        border 1px solid --primary-color
        border-radius 18px
        padding 28px
        box-sizing border-box
        display flex
        flex-direction column
        transition .7s ease

        @media (min-width 1280px)
            height 480px
            padding 48px
            border-radius 32px
            transition-delay 0s

            .universal__item--selected &
                background-color --primary-color
                color --white-color
                border-radius 80px

                @media (min-width 1280px)
                    border-radius 160px

        @media (max-width 1279px)
            .tns__item--active &
                background-color --primary-color
                color --white-color
                border-radius 100px

    &__block
        height 50%
        display flex

        &--top
            align-items center

        &--bottom
            padding-top 20px
            border-top 1px solid --primary-color
            line-height 1.4

            @media (min-width 1280px)
                padding-top 32px
                font-size 18px

        &--number

            @media (min-width 1280px)
                font-size 24px

            &:before
                content counter(block, decimal-leading-zero)
