<div class="appointment-request">
    <div class="icon icon--x appointment-request__close"></div>
    <div class="appointment-request__container">
        <div class="appointment-request__title">
            <span class="appointment-request__line">Залишити</span>
            <span class="appointment-request__line">заявку</span>
        </div>
        <form action="/" class="form appointment-request__form">
            <label class="form__label">
                <input placeholder=" " type="tel" class="form__input appointment-request__input">
                <span class="form__placeholder">Телефон</span>
            </label>
            {% include "button.twig" with {'text' : 'Записатися', 'class' : 'form__button appointment-request__input"'} %}
            <div class="response response--appointment-request">
                <div class="response__close icon icon--x"></div>
                <div class="response__title">Дякую за звернення!</div>
                <div class="response__text">Ми передзвонимо вам протягом наступної робочої години</div>
            </div>
        </form>
    </div>
</div>
