.c-doctors
    margin-top 64px

    @media (min-width 1280px)
        width 1000px

    .consultations__item:not(:last-child) &
        margin-bottom 80px

    &.tns--full .tns__outer

        @media (min-width 1280px)
            padding 0

    &__list
        display flex

        @media (min-width 1280px)
            flex-direction column

    &__item
        line-height 1.4

        @media (min-width 1280px)

            &:not(:last-child)
                margin-bottom 64px

    &__container
        width 180px

        @media (min-width 1280px)
            width 100%
            display flex
            align-items center

    &__photo
        size(142px, 154px)
        border-radius 50%
        relative()
        z-index 0
        padding-top 12px
        box-sizing border-box
        overflow hidden

        @media (min-width 1280px)
            size(220px, 240px)

        &:before
            content ''
            background-color --secondary-color
            size(142px)
            border-radius 50%
            absolute left 0 bottom 0
            z-index -1

            @media (min-width 1280px)
                size(220px)

    &__image
        height 154px
        max-width initial
        absolute left 50% top 0
        transform translateX(-50%)

        @media (min-width 1280px)
            height 240px

    &__name
        font-size 18px
        margin 24px 0 12px

        @media (min-width 1280px)
            width 310px
            font-size 24px
            margin 0 0 0 96px

    &__specialty
        font-size 14px
        color #516573

        @media (min-width 1280px)
            width 270px
            font-size 20px
            line-height 1.6
            margin-left 96px
