.consultations
    margin-top 80px

    @media (min-width 1280px)
        margin-top 140px

    &__item
        relative()

    &__container
        max-width 290px
        margin 0 auto

        @media (min-width 1280px)
            max-width 1000px
            display flex
            justify-content space-between
            margin 40px 0 0 0

    &__title
        font-size 28px
        relative()
        cursor pointer
        user-select none
        width 290px
        box-sizing border-box
        margin 0 auto
        border-top 1px solid --primary-color
        padding 24px 36px 24px 0

        @media (min-width 1280px)
            font-size 52px
            width 1000px
            margin 0
            padding 40px 40px 40px 0

    &__toggle
        absolute right 0 top 50%
        transform translateY(-50%)
        color --primary-color
        font-size 24px
        cursor pointer
        transition .7s ease
        z-index -1

        @media (min-width 1280px)
            font-size 40px
            color --ternary-color

            .consultations__title:hover &
                color --primary-color

        &:before
            content '\E00E'

            .collapse--open &
                content '\E009'
                color --ternary-color

            .collapse--open .consultations__title:hover &
                color --primary-color

    &__content
        height 0
        opacity 0
        overflow hidden
        transform translateY(5%)
        transition .7s ease

        .collapse--open &
            height auto
            opacity 1
            transform translateY(0)

    &__side
        relative()

        @media (min-width 1280px)
            margin-right 64px

    &__desc
        padding 16px 0 32px
        line-height 1.5
        color --gray-color

        @media (min-width 1280px)
            font-size 20px
            line-height 1.8
            padding 0
            width 375px

    &__paragraph

        &:not(:last-child)
            margin-bottom 16px

            @media (min-width 1280px)
                margin-bottom 24px

    &__price
        font-size 24px
        line-height 1.4

    &__form
        margin-top 32px

    &__input

        @media (min-width 1280px)
            width 350px

    &__button

        @media (min-width 1280px)
            width 350px

    &__list
        opacity 0
        transform translateY(50px)
        -webkit-transition --anim-transition ease
        -moz-transition --anim-transition ease
        transition --anim-transition ease
