<section class="section section--short section--white-bottom">
    <h2 class="section__title">
        <span class="section__line">Відновлювальний</span>
        <span class="section__line">період</span>
    </h2>
    <div class="recovery">
        <div class="recovery__desc">
            Ви зможете жити звичайним життям, одноразова капсула вийде природним шляхом під час наступного випорожнення
        </div>
    </div>
</section>
