<section class="section section--short section--white-bottom">
    <h2 class="section__title">Відео про клініку</h2>
    <div class="section__desc">Декілька разів на рік ми проводимо навчання у нашому медичному центрі та привозимо найкращих лікарів з Японії, Німеччини та Америки</div>
    <div class="about-video">
        <div class="player about-video__player">
            <div class="player__container">
                <div class="icon icon--x player__close"></div>
                <video src="images/temp/video.mp4" poster="images/places.jpg" class="player__video"></video>
            </div>
        </div>
    </div>
</section>
