<section class="section section--secondary">
    <h2 class="section__title">
        <span class="section__line">Як виглядає</span>
        <span class="section__line">клініка</span>
    </h2>
    <div class="about">
        <ul class="about__list">
            <li class="about__item about__item--clinic">
                <div class="about__preview">
                    <img src="images/about/clinic.jpg" alt="" class="about__image">
                </div>
                <div class="about__title">Нас просто помітити</div>
                <div class="about__desc">
                    Наша клініка знаходиться у власній
                    3-поверховій будівлі подалі від метушні міста
                </div>
            </li>
            <li class="about__item about__item--gallery">
                <div class="about__preview">
                    <img src="images/about/gallery.jpg" alt="" class="about__image">
                </div>
                <div class="about__title">Майже галерея</div>
                <div class="about__desc">
                    Ми любимо мистецтво, тому в холі ви зможете насолодитися картинами чи полистати книги про художні
                    стилі та епохи
                </div>
            </li><li class="about__item about__item--coffee">
                <div class="about__preview">
                    <img src="images/about/coffee.jpg" alt="" class="about__image">
                </div>
                <div class="about__title">Своя кава</div>
                <div class="about__desc">
                    Наш колега має незвичне хобі — сам обсмажує каву для клініки. З радістю пригостимо вас нею
                </div>
            </li>
            <li class="about__item about__item--atmosphere">
                <div class="about__preview">
                    <img src="images/about/atmosphere.jpg" alt="" class="about__image">
                </div>
                <div class="about__title">Атмосфера добра</div>
                <div class="about__desc">
                    У нас дуже затишно, впевнені, ви будете почуватися спокійно, як вдома
                </div>
            </li>
            <li class="about__item about__item--parking">
                <div class="about__preview">
                    <img src="images/about/parking.jpg" alt="" class="about__image">
                </div>
                <div class="about__title">Зручна парковка</div>
                <div class="about__desc">
                    У нас є окреме місце для парковки, тому можете не хвилюватися про авто
                </div>
            </li>
        </ul>
    </div>
</section>
