<section class="section section--secondary">
    <h2 class="section__title">
        <span class="section__line">Запис</span>
        <span class="section__line">на прийом</span>
    </h2>
    <div class="appointment">
        <div class="appointment__text appointment__text--with-image">
            <p class="appointment__paragraph">Привіт!</p>
            <p class="appointment__paragraph">Я — Анастасія, ваш менеджер</p>
        </div>
        <div class="appointment__text">
            Подзвоніть мені, і я зроблю все,
            щоби вирішити ваші питання
        </div>
        <div class="appointment__phone">
            <a href="tel:+380661102638" class="appointment__link">+38 066 110 26 38</a>
        </div>
        <div class="appointment__text">Або залиште свій номер, я вам напишу</div>
        <form action="http://olymed.developv.in.ua/request" class="form appointment__form">
            <label class="form__label">
                <input placeholder=" " name="phone" type="tel" class="form__input appointment__input">
                <span class="form__placeholder">Телефон</span>
            </label>
            <button class="button button--primary form__button appointment__button">
                <span class="button__text" data-text="Передзвоніть мені">Передзвоніть мені</span>
                <span class="icon icon--arrow button__arrow"></span>
            </button>
            <div class="response response--appointment">
                <div class="response__close icon icon--x"></div>
                <div class="response__title">Дякую за звернення!</div>
                <div class="response__text">Ми передзвонимо вам протягом наступної робочої години</div>
            </div>
        </form>
        <div class="appointment__image"></div>
    </div>
</section>
