<section class="section section--comfort">
    <h2 class="section__title section__title--no-margin section__title--short">
        <span class="section__line">Комфорт</span>
        <span class="section__line">на кожному етапі</span>
    </h2>
    <div class="universal universal--comfort tns tns--full">
        <ul class="universal__list" id="comfort">
            <li class="universal__item">
                <div class="universal__container">
                    <div class="universal__block universal__block--top universal__block--number"></div>
                    <div class="universal__block universal__block--bottom">Детальна 50-хвилинна консультація з лікарем</div>
                </div>
            </li>
            <li class="universal__item universal__item--selected">
                <div class="universal__container">
                    <div class="universal__block universal__block--top universal__block--number"></div>
                    <div class="universal__block universal__block--bottom">Медикаментозний сон для безболісної колоно- та гастроскопії</div>
                </div>
            </li>
            <li class="universal__item">
                <div class="universal__container">
                    <div class="universal__block universal__block--top universal__block--number"></div>
                    <div class="universal__block universal__block--bottom">Власна палата, смачний чай і кава власного обсмаження</div>
                </div>
            </li>
            <li class="universal__item">
                <div class="universal__container">
                    <div class="universal__block universal__block--top universal__block--number"></div>
                    <div class="universal__block universal__block--bottom">Доброзичливі та делікатні лікарі</div>
                </div>
            </li>
            <li class="universal__item">
                <div class="universal__container">
                    <div class="universal__block universal__block--top universal__block--number"></div>
                    <div class="universal__block universal__block--bottom">Доброзичливі та делікатні лікарі</div>
                </div>
            </li>
            <li class="universal__item">
                <div class="universal__container">
                    <div class="universal__block universal__block--top universal__block--number"></div>
                    <div class="universal__block universal__block--bottom">Доброзичливі та делікатні лікарі</div>
                </div>
            </li>
        </ul>
    </div>
</section>
