<section class="section section--short section--consultations">
    <div class="consultations">
        <ul class="consultations__list">
            <li class="collapse__item consultations__item collapse--open">
                <div class="collapse__title consultations__title">
                    Гастроентеролог
                    <div class="consultations__toggle icon"></div>
                </div>
                <div class="collapse__content consultations__content">
                    <div class="consultations__container">
                        <div class="consultations__desc">
                            <p class="consultations__paragraph">
                                Ми допоможемо скорегувати раціон, відповідно до ваших потреб
                                та попередити захворювання.
                            </p>
                            <p class="consultations__paragraph">
                                Ми проаналізуємо ваші попередні дослідження, обговоримо ваш стиль життя та харчування,
                                призначимо необхідні обстеження
                                та складемо план дій для подальшого лікування
                            </p>
                        </div>
                        <div class="consultations__side">
                            <div class="consultations__price">
                                <div class="consultations__amount">1 000 грн</div>
                                за консультацію
                            </div>
                            <form action="/" class="form consultations__form">
                                <label class="form__label">
                                    <input placeholder=" " type="tel" class="form__input consultations__input">
                                    <span class="form__placeholder">Телефон</span>
                                </label>
                                {% include "blocks/button.twig" with {'text' : 'Записатися', 'class' : 'form__button consultations__button'} %}
                                <div class="response response--visible response--consultations">
                                    <div class="response__close icon icon--x"></div>
                                    <div class="response__title">Дякую за звернення!</div>
                                    <div class="response__text">Ми передзвонимо вам протягом наступної робочої години</div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="c-doctors tns--full">
                        <ul class="c-doctors__list" id="consultations">
                            <li class="c-doctors__item">
                                <div class="c-doctors__container">
                                    <div class="c-doctors__photo">
                                        <img src="images/temp/doctor.png" alt="" class="c-doctors__image">
                                    </div>
                                    <div class="c-doctors__name">
                                        Поліщук
                                        Сергій Петрович
                                    </div>
                                    <div class="c-doctors__specialty">Лікар-ендоскопіст, гастроентеролог</div>
                                </div>
                            </li>
                            <li class="c-doctors__item">
                                <div class="c-doctors__container">
                                    <div class="c-doctors__photo">
                                        <img src="images/temp/doctor.png" alt="" class="c-doctors__image">
                                    </div>
                                    <div class="c-doctors__name">
                                        Поліщук
                                        Сергій Петрович
                                    </div>
                                    <div class="c-doctors__specialty">Лікар-ендоскопіст, гастроентеролог</div>
                                </div>
                            </li>
                            <li class="c-doctors__item">
                                <div class="c-doctors__container">
                                    <div class="c-doctors__photo">
                                        <img src="images/temp/doctor.png" alt="" class="c-doctors__image">
                                    </div>
                                    <div class="c-doctors__name">
                                        Поліщук
                                        Сергій Петрович
                                    </div>
                                    <div class="c-doctors__specialty">Лікар-ендоскопіст, гастроентеролог</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="collapse__item consultations__item">
                <div class="collapse__title consultations__title">
                    Психолог
                    <div class="consultations__toggle icon"></div>
                </div>
                <div class="collapse__content consultations__content">
                    <div class="consultations__container">
                        <div class="consultations__desc">
                            <p class="consultations__paragraph">
                                Ми допоможемо скорегувати раціон, відповідно до ваших потреб
                                та попередити захворювання.
                            </p>
                            <p class="consultations__paragraph">
                                Ми проаналізуємо ваші попередні дослідження, обговоримо ваш стиль життя та харчування,
                                призначимо необхідні обстеження
                                та складемо план дій для подальшого лікування
                            </p>
                        </div>
                        <div class="consultations__side">
                            <div class="consultations__price">
                                <div class="consultations__amount">1 000 грн</div>
                                за консультацію
                            </div>
                            <form action="/" class="form consultations__form">
                                <label class="form__label">
                                    <input placeholder=" " type="tel" class="form__input consultations__input">
                                    <span class="form__placeholder">Телефон</span>
                                </label>
                                {% include "blocks/button.twig" with {'text' : 'Записатися', 'class' : 'form__button consultations__button'} %}
                            </form>
                        </div>
                    </div>
                    <div class="c-doctors tns--full">
                        <ul class="c-doctors__list" id="consultations1">
                            <li class="c-doctors__item">
                                <div class="c-doctors__container">
                                    <div class="c-doctors__photo">
                                        <img src="images/temp/doctor.png" alt="" class="c-doctors__image">
                                    </div>
                                    <div class="c-doctors__name">
                                        Поліщук
                                        Сергій Петрович
                                    </div>
                                    <div class="c-doctors__specialty">Лікар-ендоскопіст, гастроентеролог</div>
                                </div>
                            </li>
                            <li class="c-doctors__item">
                                <div class="c-doctors__container">
                                    <div class="c-doctors__photo">
                                        <img src="images/temp/doctor.png" alt="" class="c-doctors__image">
                                    </div>
                                    <div class="c-doctors__name">
                                        Поліщук
                                        Сергій Петрович
                                    </div>
                                    <div class="c-doctors__specialty">Лікар-ендоскопіст, гастроентеролог</div>
                                </div>
                            </li>
                            <li class="c-doctors__item">
                                <div class="c-doctors__container">
                                    <div class="c-doctors__photo">
                                        <img src="images/temp/doctor.png" alt="" class="c-doctors__image">
                                    </div>
                                    <div class="c-doctors__name">
                                        Поліщук
                                        Сергій Петрович
                                    </div>
                                    <div class="c-doctors__specialty">Лікар-ендоскопіст, гастроентеролог</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="collapse__item consultations__item">
                <div class="collapse__title consultations__title">
                    Дієтолог
                    <div class="consultations__toggle icon"></div>
                </div>
                <div class="collapse__content consultations__content">
                    <div class="consultations__container">
                        <div class="consultations__desc">
                            <p class="consultations__paragraph">
                                Ми допоможемо скорегувати раціон, відповідно до ваших потреб
                                та попередити захворювання.
                            </p>
                            <p class="consultations__paragraph">
                                Ми проаналізуємо ваші попередні дослідження, обговоримо ваш стиль життя та харчування,
                                призначимо необхідні обстеження
                                та складемо план дій для подальшого лікування
                            </p>
                        </div>
                        <div class="consultations__side">
                            <div class="consultations__price">
                                <div class="consultations__amount">1 000 грн</div>
                                за консультацію
                            </div>
                            <form action="/" class="form consultations__form">
                                <label class="form__label">
                                    <input placeholder=" " type="tel" class="form__input consultations__input">
                                    <span class="form__placeholder">Телефон</span>
                                </label>
                                {% include "blocks/button.twig" with {'text' : 'Записатися', 'class' : 'form__button consultations__button'} %}
                            </form>
                        </div>
                    </div>
                    <div class="c-doctors tns--full">
                        <ul class="c-doctors__list" id="consultations2">
                            <li class="c-doctors__item">
                                <div class="c-doctors__container">
                                    <div class="c-doctors__photo">
                                        <img src="images/temp/doctor.png" alt="" class="c-doctors__image">
                                    </div>
                                    <div class="c-doctors__name">
                                        Поліщук
                                        Сергій Петрович
                                    </div>
                                    <div class="c-doctors__specialty">Лікар-ендоскопіст, гастроентеролог</div>
                                </div>
                            </li>
                            <li class="c-doctors__item">
                                <div class="c-doctors__container">
                                    <div class="c-doctors__photo">
                                        <img src="images/temp/doctor.png" alt="" class="c-doctors__image">
                                    </div>
                                    <div class="c-doctors__name">
                                        Поліщук
                                        Сергій Петрович
                                    </div>
                                    <div class="c-doctors__specialty">Лікар-ендоскопіст, гастроентеролог</div>
                                </div>
                            </li>
                            <li class="c-doctors__item">
                                <div class="c-doctors__container">
                                    <div class="c-doctors__photo">
                                        <img src="images/temp/doctor.png" alt="" class="c-doctors__image">
                                    </div>
                                    <div class="c-doctors__name">
                                        Поліщук
                                        Сергій Петрович
                                    </div>
                                    <div class="c-doctors__specialty">Лікар-ендоскопіст, гастроентеролог</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
