<section class="section section--primary section--contacts">
    <h2 class="section__title">Контакти</h2>
    <div class="contacts">
        <div class="contacts__block">
            <div class="contacts__title">Адреса</div>
            <div class="contacts__value">
                <span class="contacts__anchor">вул. Метрологічна, 17/1, Київ</span>
            </div>
        </div>
        <div class="contacts__block">
            <div class="contacts__title">Телефон</div>
            <div class="contacts__value">
                <a href="tel:+380445035003" class="contacts__link">+38 (044) 503-50-03</a>
            </div>
            <div class="contacts__value">
                <a href="tel:+380445035003" class="contacts__link">+38 (044) 503-50-03</a>
            </div>
            <div class="contacts__value">
                <a href="tel:+380445035003" class="contacts__link">+38 (044) 503-50-03</a>
            </div>
        </div>
        <div class="contacts__block contacts__block--work-time">
            <div class="contacts__title">Коли працюємо</div>
            <div class="contacts__value">По буднях __ 9:00 – 18:00</div>
            <div class="contacts__value">Субота _____ 9:00 – 15:00</div>
            <div class="contacts__value">Неділя _____ вихідний</div>
        </div>
        <div class="contacts__block">
            <div class="contacts__title">Ел. пошта</div>
            <div class="contacts__value">
                <a href="mailto:office@olymed.ua" class="contacts__link">office@olymed.ua</a>
            </div>
        </div>
        <div class="contacts__block">
            <div class="contacts__title">Пишіть нам</div>
            <ul class="social social--contacts">
                <li class="social__item">
                    <a href="/" class="social__link">
                        <span class="icon icon--facebook social__icon social__icon--facebook"></span>
                    </a>
                </li>
                <li class="social__item">
                    <a href="/" class="social__link">
                        <span class="icon icon--messenger social__icon social__icon--messenger"></span>
                    </a>
                </li>
                <li class="social__item">
                    <a href="/" class="social__link">
                        <span class="icon icon--viber social__icon social__icon--viber"></span>
                    </a>
                </li>
                <li class="social__item">
                    <a href="/" class="social__link">
                        <span class="icon icon--telegram social__icon social__icon--telegram"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
