<section class="section section--doctors {{ class }}">
    <h2 class="section__title section__title--doctors">
        <span class="section__line">Ми любимо </span>
        <span class="section__line">складні випадки</span>
    </h2>
    <div class="doctors tns tns--full tns--doctors">
        <div class="doctors__types">
            <span class="doctors__option doctors__option--active" data-option="1">Про вас дбатимуть</span>
            <span class="doctors__separator">/</span>
            <span class="doctors__option doctors__option--second" data-option="2">Вас лікуватимуть</span>
        </div>
        <div class="doctors__wrap">
            <div class="doctors__content doctors__content--visible" data-list="1">
                <ul class="doctors__list" id="doctors">
                    <li class="doctors__item">
                        <div class="doctors__container">
                            <div class="doctors__name">Поліщук Сергій Петрович</div>
                            <div class="doctors__specialty">Лікар-ендоскопіст</div>
                            <div class="doctors__desc">Врятував 500 пацієнтів від колоректального раку</div>
                            <img src="images/temp/doctor.png" alt="" class="doctors__photo">
                        </div>
                    </li>
                    <li class="doctors__item">
                        <div class="doctors__container">
                            <div class="doctors__name">Поліщук Сергій Петрович</div>
                            <div class="doctors__specialty">Лікар-ендоскопіст</div>
                            <div class="doctors__desc">Врятував 500 пацієнтів від колоректального раку</div>
                            <img src="images/temp/doctor.png" alt="" class="doctors__photo">
                        </div>
                    </li>
                    <li class="doctors__item">
                        <div class="doctors__container">
                            <div class="doctors__name">Поліщук Сергій Петрович</div>
                            <div class="doctors__specialty">Лікар-ендоскопіст</div>
                            <div class="doctors__desc">Врятував 500 пацієнтів від колоректального раку</div>
                            <img src="images/temp/doctor.png" alt="" class="doctors__photo">
                        </div>
                    </li>
                    <li class="doctors__item">
                        <div class="doctors__container">
                            <div class="doctors__name">Поліщук Сергій Петрович</div>
                            <div class="doctors__specialty">Лікар-ендоскопіст</div>
                            <div class="doctors__desc">Врятував 500 пацієнтів від колоректального раку</div>
                            <img src="images/temp/doctor.png" alt="" class="doctors__photo">
                        </div>
                    </li>
                    <li class="doctors__item">
                        <div class="doctors__container">
                            <div class="doctors__name">Поліщук Сергій Петрович</div>
                            <div class="doctors__specialty">Лікар-ендоскопіст</div>
                            <div class="doctors__desc">Врятував 500 пацієнтів від колоректального раку</div>
                            <img src="images/temp/doctor.png" alt="" class="doctors__photo">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="doctors__content" data-list="2">
                <ul class="doctors__list" id="doctors2">
                    <li class="doctors__item">
                        <div class="doctors__container">
                            <div class="doctors__name">Поліщук Сергій Петрович</div>
                            <div class="doctors__specialty">Лікар-ендоскопіст</div>
                            <div class="doctors__desc">Врятував 500 пацієнтів від колоректального раку</div>
                            <img src="images/temp/doctor.png" alt="" class="doctors__photo">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
