<section class="section section--doctors {{ class }}">
    <h2 class="section__title section__title--doctors">
        <span class="section__line">Ми любимо </span>
        <span class="section__line">складні випадки</span>
    </h2>
    <div class="section__desc section__desc--doctors">
        Точна діагностика — наша пристрасть. Наші лікарі вчаться
        у кращих світових експертів
        та навчають лікарів з усієї України
    </div>
    <div class="doctors tns tns--full tns--doctors">
        <ul class="doctors__list" id="doctors">
            <li class="doctors__item">
                <div class="doctors__container">
                    <div class="doctors__name">Поліщук Сергій Петрович</div>
                    <div class="doctors__specialty">Лікар-ендоскопіст</div>
                    <div class="doctors__desc">Врятував 500 пацієнтів від колоректального раку</div>
                    <img src="images/temp/doctor.png" alt="" class="doctors__photo">
                </div>
            </li>
            <li class="doctors__item">
                <div class="doctors__container">
                    <div class="doctors__name">Поліщук Сергій Петрович</div>
                    <div class="doctors__specialty">Лікар-ендоскопіст</div>
                    <div class="doctors__desc">Врятував 500 пацієнтів від колоректального раку</div>
                    <img src="images/temp/doctor.png" alt="" class="doctors__photo">
                </div>
            </li>
            <li class="doctors__item">
                <div class="doctors__container">
                    <div class="doctors__name">Поліщук Сергій Петрович</div>
                    <div class="doctors__specialty">Лікар-ендоскопіст</div>
                    <div class="doctors__desc">Врятував 500 пацієнтів від колоректального раку</div>
                    <img src="images/temp/doctor.png" alt="" class="doctors__photo">
                </div>
            </li>
            <li class="doctors__item">
                <div class="doctors__container">
                    <div class="doctors__name">Поліщук Сергій Петрович</div>
                    <div class="doctors__specialty">Лікар-ендоскопіст</div>
                    <div class="doctors__desc">Врятував 500 пацієнтів від колоректального раку</div>
                    <img src="images/temp/doctor.png" alt="" class="doctors__photo">
                </div>
            </li>
            <li class="doctors__item">
                <div class="doctors__container">
                    <div class="doctors__name">Поліщук Сергій Петрович</div>
                    <div class="doctors__specialty">Лікар-ендоскопіст</div>
                    <div class="doctors__desc">Врятував 500 пацієнтів від колоректального раку</div>
                    <img src="images/temp/doctor.png" alt="" class="doctors__photo">
                </div>
            </li>
        </ul>
    </div>
</section>
