<section class="section section--secondary section--short">
    <h2 class="section__title">
        <span class="section__line">Ендокапсула Olympus EC-S10</span>
        <span class="section__line">останнього покоління</span>
    </h2>
    <div class="end-olympus">
        <ul class="end-olympus__list">
            <li class="end-olympus__item">
                <div class="end-olympus__title">3 грами</div>
                <div class="end-olympus__desc">Маса капсули</div>
            </li>
            <li class="end-olympus__item">
                <div class="end-olympus__title">160°</div>
                <div class="end-olympus__desc">Кут огляду</div>
            </li>
            <li class="end-olympus__item">
                <div class="end-olympus__title">12 год</div>
                <div class="end-olympus__desc">Час роботи камери</div>
            </li>
            <li class="end-olympus__item">
                <div class="end-olympus__title">3D</div>
                <div class="end-olympus__desc">Об’ємна локація</div>
            </li>
        </ul>
        <div class="player end-olympus__player">
            <div class="player__container">
                <div class="icon icon--x player__close"></div>
                <video src="images/temp/video.mp4" poster="images/places.jpg" class="player__video"></video>
            </div>
        </div>
    </div>
</section>
