<section class="section">
    <h2 class="section__title">Обладнання</h2>
    <div class="equipment">
        <ul class="equipment__list">
            <li class="equipment__item equipment__item--olympus">
                <div class="equipment__container">
                    <img src="images/equipments/equipment.png" alt="" class="equipment__image">
                    <div class="equipment__title">Японське обладнання «Olympus»</div>
                    <div class="equipment__desc">
                        Ми використовуємо найновіше в Україні японське обладнання Olympus 2018 року з оптичним
                        збільшенням у 40 разів
                    </div>
                    <div class="equipment__view">
                        <span class="icon icon--play equipment__play"></span>
                        Дивитись відео
                    </div>
                    <div class="player equipment__player">
                        <div class="player__container">
                            <div class="icon icon--x player__close"></div>
                            <video src="images/temp/video.mp4" poster="images/places.jpg" class="player__video"></video>
                        </div>
                    </div>
                </div>
            </li>
            <li class="equipment__item equipment__item--scopes">
                <div class="equipment__container">
                    <img src="images/equipments/equipment-2.png" alt="" class="equipment__image">
                    <div class="equipment__title">20 скопів останнього покоління</div>
                    <div class="equipment__desc">
                        Ми використовуємо одразу декілька змінних наборів високоточних скопів для досліджень
                    </div>
                    <div class="equipment__view">
                        <span class="icon icon--play equipment__play"></span>
                        Дивитись відео
                    </div>
                    <div class="player equipment__player">
                        <div class="player__container">
                            <div class="icon icon--x player__close"></div>
                            <video src="images/temp/video.mp4" poster="images/places.jpg" class="player__video"></video>
                        </div>
                    </div>
                </div>
            </li>
            <li class="equipment__item equipment__item--reprocessor">
                <div class="equipment__container">
                    <img src="images/equipments/equipment-3.png" alt="" class="equipment__image">
                    <div class="equipment__title">Репроцесор повного циклу «Olympus»</div>
                    <div class="equipment__desc">
                        Ми ретельно очищуємо та промиваємо спиртом кожен скоп у спеціальній машині
                    </div>
                    <div class="equipment__view">
                        <span class="icon icon--play equipment__play"></span>
                        Дивитись відео
                    </div>
                    <div class="player equipment__player">
                        <div class="player__container">
                            <div class="icon icon--x player__close"></div>
                            <video src="images/temp/video.mp4" poster="images/places.jpg" class="player__video"></video>
                        </div>
                    </div>
                </div>
            </li>
            <li class="equipment__item equipment__item--capsule">
                <div class="equipment__container">
                    <img src="images/equipments/equipment-4.png" alt="" class="equipment__image">
                    <div class="equipment__title">Ендоскопічна капсула «Olympus» EC S-10</div>
                    <div class="equipment__desc">
                        Ви проковтнете невеличку капсулу з камерою. Ми єдині в Україні використовуємо таку капсулу
                        останнього покоління.
                    </div>
                    <div class="equipment__view">
                        <span class="icon icon--play equipment__play"></span>
                        Дивитись відео
                    </div>
                    <div class="player equipment__player">
                        <div class="player__container">
                            <div class="icon icon--x player__close"></div>
                            <video src="images/temp/video.mp4" poster="images/places.jpg" class="player__video"></video>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
