<section class="section section--short section--white-bottom">
    <h2 class="section__title">
        <span class="section__line">Обмін</span>
        <span class="section__line">досвідом</span>
    </h2>
    <div class="exp-exchange tns tns--full">
        <ul class="exp-exchange__list" id="exp-exchange">
            <li class="exp-exchange__item">
                <div class="exp-exchange__container">
                    <div class="exp-exchange__content">
                        <div class="exp-exchange__title">Ми любимо складні випадки</div>
                        <div class="exp-exchange__desc">
                            Точна діагностика — наша пристрасть. Ми адаптовуємо найсучасніші світові практики та навчаємо лікарів з усієї України
                        </div>
                    </div>
                </div>
            </li>
            <li class="exp-exchange__item exp-exchange__item--selected">
                <div class="exp-exchange__container">
                    <div class="exp-exchange__content">
                        <div class="exp-exchange__title">Ми вчимося</div>
                        <div class="exp-exchange__desc">
                            Ми постійно розвиваємося та навчаємося. Наші лікарі проходять стажування у кращих європейських клініках та постійно співпрацюють зі швейцарськими колегами із GastroZentrum Hirslanden.
                        </div>
                    </div>
                </div>
            </li>
            <li class="exp-exchange__item">
                <div class="exp-exchange__container">
                    <div class="exp-exchange__content">
                        <div class="exp-exchange__title">Ми навчаємо</div>
                        <div class="exp-exchange__desc">
                            Наші лікарі першими адаптовують кращі медичні практики світу та навчають лікарів з усієї України.
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        {% include "blocks/button--exp.twig" with {'text' : 'Календар подій на endo.ua', 'class' : 'exp-exchange__button'} %}
    </div>
</section>
