<section class="section section--short">
    <h2 class="section__title">Зарубіжні фахівці</h2>
    <div class="section__desc section__desc--experts">Декілька разів на рік ми проводимо навчання у нашому медичному центрі та привозимо
        найкращих лікарів з Японії, Німеччини та Америки
    </div>
    <div class="experts">
        <div class="player experts__player">
            <div class="player__container">
                <div class="icon icon--x player__close"></div>
                <video src="images/temp/video.mp4" poster="images/places.jpg" class="player__video"></video>
            </div>
        </div>
    </div>
</section>
