<section class="section section--short">
    <h2 class="section__title">
        <span class="section__line">Часті</span>
        <span class="section__line">запитання</span>
    </h2>
    <div class="faq">
        <ul class="faq__list">
            <li class="collapse__item faq__item">
                <div class="collapse__title faq__question">
                    Які основні показання для проведення колоноскопії?
                    <div class="faq__toggle icon"></div>
                </div>
                <div class="collapse__content faq__answer">
                    <div class="faq__text">
                        Існує багато варіацій уривків з Lorem Ipsum, але більшість з них зазнала певних змін на
                        кшталт
                        жартівливих вставок або змішування слів, які навіть не виглядають правдоподібно. Якщо ви
                        збираєтесь використовувати Lorem Ipsum, ви маєте упевнитись в тому, що всередині тексту не
                        приховано нічого, що могло б викликати у читача конфуз. Більшість відомих генераторів Lorem
                        Ipsum в Мережі генерують текст шляхом повторення наперед заданих послідовностей Lorem Ipsum.
                        Принципова відмінність цього генератора робить його першим справжнім генератором Lorem
                        Ipsum.
                        Він використовує словник з більш як 200 слів латини та цілий набір моделей речень - це
                        дозволяє
                        генерувати Lorem Ipsum, який виглядає осмислено. Таким чином, згенерований Lorem Ipsum не
                        міститиме повторів, жартів, нехарактерних для латини слів і т.ін.
                    </div>
                </div>
            </li>
            <li class="collapse__item faq__item">
                <div class="collapse__title faq__question">
                    Які основні показання для проведення колоноскопії?
                    <div class="faq__toggle icon"></div>
                </div>
                <div class="collapse__content faq__answer">
                    <div class="faq__text">
                        Існує багато варіацій уривків з Lorem Ipsum, але більшість з них зазнала певних змін на
                        кшталт
                        жартівливих вставок або змішування слів, які навіть не виглядають правдоподібно. Якщо ви
                        збираєтесь використовувати Lorem Ipsum, ви маєте упевнитись в тому, що всередині тексту не
                        приховано нічого, що могло б викликати у читача конфуз. Більшість відомих генераторів Lorem
                        Ipsum в Мережі генерують текст шляхом повторення наперед заданих послідовностей Lorem Ipsum.
                        Принципова відмінність цього генератора робить його першим справжнім генератором Lorem
                        Ipsum.
                        Він використовує словник з більш як 200 слів латини та цілий набір моделей речень - це
                        дозволяє
                        генерувати Lorem Ipsum, який виглядає осмислено. Таким чином, згенерований Lorem Ipsum не
                        міститиме повторів, жартів, нехарактерних для латини слів і т.ін.
                    </div>
                </div>
            </li>
            <li class="collapse__item faq__item">
                <div class="collapse__title faq__question">
                    Які основні показання для проведення колоноскопії?
                    <div class="faq__toggle icon"></div>
                </div>
                <div class="collapse__content faq__answer">
                    <div class="faq__text">
                        Існує багато варіацій уривків з Lorem Ipsum, але більшість з них зазнала певних змін на
                        кшталт
                        жартівливих вставок або змішування слів, які навіть не виглядають правдоподібно. Якщо ви
                        збираєтесь використовувати Lorem Ipsum, ви маєте упевнитись в тому, що всередині тексту не
                        приховано нічого, що могло б викликати у читача конфуз. Більшість відомих генераторів Lorem
                        Ipsum в Мережі генерують текст шляхом повторення наперед заданих послідовностей Lorem Ipsum.
                        Принципова відмінність цього генератора робить його першим справжнім генератором Lorem
                        Ipsum.
                        Він використовує словник з більш як 200 слів латини та цілий набір моделей речень - це
                        дозволяє
                        генерувати Lorem Ipsum, який виглядає осмислено. Таким чином, згенерований Lorem Ipsum не
                        міститиме повторів, жартів, нехарактерних для латини слів і т.ін.
                    </div>
                </div>
            </li>
            <li class="collapse__item faq__item">
                <div class="collapse__title faq__question">
                    Які основні показання для проведення колоноскопії?
                    <div class="faq__toggle icon"></div>
                </div>
                <div class="collapse__content faq__answer">
                    <div class="faq__text">
                        Існує багато варіацій уривків з Lorem Ipsum, але більшість з них зазнала певних змін на
                        кшталт
                        жартівливих вставок або змішування слів, які навіть не виглядають правдоподібно. Якщо ви
                        збираєтесь використовувати Lorem Ipsum, ви маєте упевнитись в тому, що всередині тексту не
                        приховано нічого, що могло б викликати у читача конфуз. Більшість відомих генераторів Lorem
                        Ipsum в Мережі генерують текст шляхом повторення наперед заданих послідовностей Lorem Ipsum.
                        Принципова відмінність цього генератора робить його першим справжнім генератором Lorem
                        Ipsum.
                        Він використовує словник з більш як 200 слів латини та цілий набір моделей речень - це
                        дозволяє
                        генерувати Lorem Ipsum, який виглядає осмислено. Таким чином, згенерований Lorem Ipsum не
                        міститиме повторів, жартів, нехарактерних для латини слів і т.ін.
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
