<footer class="section footer">
    <div class="footer__content">
        <div class="overhead overhead--footer">
            <a href="/" class="overhead__logotype"></a>
            <ul class="languages">
                <li class="languages__item">
                    <a href="/" class="languages__link">UA</a>
                </li>
                <li class="languages__item languages__item--active">
                    <span class="language__selected">EN</span>
                </li>
            </ul>
            <nav class="nav">
                <div class="nav__content">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="/" class="nav__link">Колоноскопія</a>
                        </li>
                        <li class="nav__item">
                            <a href="/" class="nav__link">Гастроскопія</a>
                        </li>
                        <li class="nav__item">
                            <a href="/" class="nav__link">Капсульна ендоскопія</a>
                        </li>
                        <li class="nav__item">
                            <a href="/" class="nav__link">Консультації</a>
                        </li>
                        <li class="nav__item">
                            <a href="/" class="nav__link">Клініка</a>
                        </li>
                        <li class="nav__item">
                            <a href="/" class="nav__link">Контакти</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        {% include "blocks/button.twig" with {'text' : 'Записатися', 'class' : 'button--appointment footer__button'} %}
        <div class="footer__copyright">2019 © Olymed. Всі права захищені.</div>
        <a href="/" class="footer__made-in">Зроблено у ONCE</a>
    </div>
</footer>
