<section class="section section--short section--multiple">
    <h2 class="section__title">
        <span class="section__line">Історія</span>
        <span class="section__line">клініки</span>
    </h2>
    <div class="multiple tns tns--full">
        <div class="multiple__name"></div>
        <div class="choose choose--carousel multiple__choose">
            <div class="choose__selected">
                <span class="choose__value"></span>
                <span class="icon icon--arrow choose__arrow"></span>
            </div>
            <select class="choose__select">
                <option class="choose__option" value="2020">2020 рік</option>
                <option class="choose__option" value="2019">2019 рік</option>
            </select>
        </div>
        <ul class="multiple__list" data-carousel="2020" id="multiple">
            <li class="multiple__item">
                <div class="multiple__container">
                    <div class="multiple__content">
                        <div class="multiple__desc">
                            Завдяки співпраці
                            з швейцарськими колегами
                            із GastroZentrum Hirslanden, ми відкрили центр комплексної гастроентерологічної допомоги –
                            Olymed
                        </div>
                    </div>
                </div>
            </li>
            <li class="multiple__item">
                <div class="multiple__container">
                    <div class="multiple__content">
                        <div class="multiple__desc">
                            Відкрили напрямок дієтології
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="multiple__list" data-carousel="2019">
            <li class="multiple__item">
                <div class="multiple__container">
                    <div class="multiple__content">
                        <div class="multiple__desc">
                            Завдяки співпраці
                            з швейцарськими колегами
                            123
                            із GastroZentrum Hirslanden, ми відкрили центр комплексної гастроентерологічної допомоги –
                            Olymed
                        </div>
                    </div>
                </div>
            </li>
            <li class="multiple__item">
                <div class="multiple__container">
                    <div class="multiple__content">
                        <div class="multiple__desc">
                            Відкрили напрямок дієтології
                        </div>
                    </div>
                </div>
            </li>
            <li class="multiple__item">
                <div class="multiple__container">
                    <div class="multiple__content">
                        <div class="multiple__desc">
                            Завдяки співпраці
                            з швейцарськими колегами
                            123
                            із GastroZentrum Hirslanden, ми відкрили центр комплексної гастроентерологічної допомоги –
                            Olymed
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="multiple__timeline">
            <div class="multiple__period multiple__period--active" data-period="2020">2020 рік</div>
            <div class="multiple__period" data-period="2019">2019 рік</div>
        </div>
    </div>
</section>
