<section class="section section--no-pad">
    <div class="map">
        {% include "blocks/button.twig" with {'text' : 'Прокласти маршрут', 'class' : 'map__button'} %}
        <script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet'/>
        <div class="map__canvas" id='map'></div>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoidGF5YXEiLCJhIjoiY2pqNWttc3pnMDF5YTNrcGZ2MjgxdnJmcSJ9.FYBtnxzTWi0BhKf4d0xyog';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11'
            });
        </script>
    </div>
</section>
