<section class="section section--short">
    <h2 class="section__title">
        <span class="section__line">Методики</span>
        <span class="section__line">та технології</span>
    </h2>
    <div class="methods-and-technology">
        <ul class="methods-and-technology__list">
            <li class="methods-and-technology__item">
                <div class="player methods-and-technology__player">
                    <video src="images/temp/video.mp4" muted class="player__video"></video>
                </div>
                <div class="methods-and-technology__title">Стерилізація обладнання та інстументів</div>
                <div class="methods-and-technology__desc">
                    Кожен ендоскоп проходить очистку в спеціальній миючій машині, якої не має жодна інша українська
                    клініка
                </div>
            </li>
            <li class="methods-and-technology__item">
                <div class="player methods-and-technology__player">
                    <video src="images/temp/video.mp4" muted class="player__video"></video>
                </div>
                <div class="methods-and-technology__title">Стерилізація обладнання та інстументів</div>
                <div class="methods-and-technology__desc">
                    Кожен ендоскоп проходить очистку в спеціальній миючій машині, якої не має жодна інша українська
                    клініка
                </div>
            </li>
            <li class="methods-and-technology__item">
                <div class="player methods-and-technology__player">
                    <video src="images/temp/video.mp4" muted class="player__video"></video>
                </div>
                <div class="methods-and-technology__title">Стерилізація обладнання та інстументів</div>
                <div class="methods-and-technology__desc">
                    Кожен ендоскоп проходить очистку в спеціальній миючій машині, якої не має жодна інша українська
                    клініка
                </div>
            </li>
        </ul>
    </div>
</section>
