<div class="overhead overhead--header">
    <a href="index.html" class="overhead__logotype"></a>
    <ul class="languages">
        <li class="languages__item">
            <a href="/" class="languages__link">UA</a>
        </li>
        <li class="languages__item languages__item--active">
            <span class="language__selected">EN</span>
        </li>
    </ul>
    <nav class="nav">
        <div class="nav__switch">
            <span class="nav__line nav__line--top"></span>
            <span class="nav__line nav__line--short"></span>
            <span class="nav__line nav__line--bottom"></span>
        </div>
        <div class="nav__content">
            <ul class="nav__list">
                <li class="nav__item nav__item--main">
                    <a href="colonoscopy.html" class="nav__link">Головна</a>
                </li>
                <li class="nav__item">
                    <a href="colonoscopy.html" class="nav__link">Колоноскопія</a>
                </li>
                <li class="nav__item">
                    <a href="gastroscopy.html" class="nav__link">Гастроскопія</a>
                </li>
                <li class="nav__item">
                    <a href="endoscopy.html" class="nav__link">Капсульна ендоскопія</a>
                </li>
                <li class="nav__item">
                    <a href="consultation.html" class="nav__link">Консультації</a>
                </li>
                <li class="nav__item nav__item--dropdown">
                    <ul class="nav__list">
                        <li class="nav__item nav__item--active">
                            <a href="clinic.html" class="nav__link">Клініка</a>
                        </li>
                        <li class="nav__item">
                            <span class="nav__link nav--anchor">Контакти</span>
                        </li>
                    </ul>
                </li>
            </ul>
            {% include "blocks/button.twig" with {'text' : 'Записатися', 'class' : 'button--appointment nav__button'} %}
            <div class="nav__footer">
                <div class="nav__contacts">
                    <div class="nav__address">вул. Метрологічна, 17/1, Київ</div>
                    <a href="tel:+380445035003" class="nav__phone">+38 (044) 503-50-03</a>
                    <a href="tel:+380445035003" class="nav__phone">+38 (044) 503-50-03</a>
                    <a href="tel:+380445035003" class="nav__phone">+38 (044) 503-50-03</a>
                </div>
                <ul class="social social--nav">
                    <li class="social__item">
                        <a href="/" class="social__link">
                            <span class="icon icon--facebook social__icon social__icon--facebook"></span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="/" class="social__link">
                            <span class="icon icon--messenger social__icon social__icon--messenger"></span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="/" class="social__link">
                            <span class="icon icon--viber social__icon social__icon--viber"></span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="/" class="social__link">
                            <span class="icon icon--telegram social__icon social__icon--telegram"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
