<section class="section section--places">
    <div class="places">
        <div class="places__aside">
            <div class="places__types">
                <span class="places__option places__option--active" data-option="1">Де зручно перекусити</span>
                <span class="places__separator">/</span>
                <span class="places__option places__option--second" data-option="2">припаркуватися</span>
            </div>
            <div class="places__content">
                <ul class="places__list places__list--visible" data-list="1">
                    <li class="places__item">
                        <a href="" class="places__link">
                            <span class="places__address">Wake UP coffee place, вулиця Метрологічна, 15</span>
                            <span class="icon icon--place places__icon"></span>
                        </a>
                    </li>
                    <li class="places__item">
                        <a href="" class="places__link">
                            <span class="places__address">Wake UP coffee place, вулиця Метрологічна, 15</span>
                            <span class="icon icon--place places__icon"></span>
                        </a>
                    </li>
                    <li class="places__item">
                        <a href="" class="places__link">
                            <span class="places__address">Wake UP coffee place, вулиця Метрологічна, 15</span>
                            <span class="icon icon--place places__icon"></span>
                        </a>
                    </li>
                    <li class="places__item">
                        <a href="" class="places__link">
                            <span class="places__address">Wake UP coffee place, вулиця Метрологічна, 15</span>
                            <span class="icon icon--place places__icon"></span>
                        </a>
                    </li>
                </ul>
                <ul class="places__list" data-list="2">
                    <li class="places__item">
                        <a href="" class="places__link">
                            <span class="places__address">Wake UP coffee place, вулиця Метрологічна, 10</span>
                            <span class="icon icon--place places__icon"></span>
                        </a>
                    </li>
                    <li class="places__item">
                        <a href="" class="places__link">
                            <span class="places__address">Wake UP coffee place, вулиця Метрологічна, 15</span>
                            <span class="icon icon--place places__icon"></span>
                        </a>
                    </li>
                    <li class="places__item">
                        <a href="" class="places__link">
                            <span class="places__address">Wake UP coffee place, вулиця Метрологічна, 15</span>
                            <span class="icon icon--place places__icon"></span>
                        </a>
                    </li>
                    <li class="places__item">
                        <a href="" class="places__link">
                            <span class="places__address">Wake UP coffee place, вулиця Метрологічна, 15</span>
                            <span class="icon icon--place places__icon"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <img src="images/places.jpg" alt="" class="places__image">
    </div>
</section>
