<section class="section section--short">
    <h2 class="section__title">
        <span class="section__line">Ми видаляємо поліпи одразу</span>
        <span class="section__line">під час колоноскопії</span>
    </h2>
    <div class="polyps">
        <ul class="polyps__list">
            <li class="polyps__item">
                <div class="polyps__title">Що таке поліп</div>
                <div class="polyps__desc">
                    Кожен поліп — це утворення, який може бути як доброякісним, так і злоякісним. Щоби не повторювати
                    колоноскопію двічі, варто одразу видалити його та відправити на аналіз. Вчасно видаливши поліпи, ви
                    вберігаєте себе від колоректального раку
                </div>
            </li>
            <li class="polyps__item">
                <div class="polyps__title">Скільки це коштує</div>
                <div class="polyps__desc">
                    Ми наперед не знаємо, скільки поліпів виявимо. Виделення одного поліпу коштує від 850 грн до 6900 грн, залежно від розміру.
                </div>
            </li>
            <li class="polyps__item">
                <div class="polyps__title">Фінансовий комфорт</div>
                <div class="polyps__desc">
                    Щоби вам було фінансово комфортно, ми зможемо розстрочити суму на декілька платежів
                </div>
            </li>
        </ul>
        <div class="player polyps__player">
            <div class="player__container">
                <div class="icon icon--x player__close"></div>
                <video src="images/temp/video.mp4" poster="images/places.jpg" class="player__video"></video>
            </div>
        </div>
    </div>
</section>
