<section class="section section--short section--multiple">
    <h2 class="section__title section__title--no-margin">
        <span class="section__line">Підготовка</span>
        <span class="section__line">до дослідження</span>
    </h2>
    <div class="multiple tns tns--full">
        <div class="choose choose--carousel multiple__choose">
            <div class="choose__selected">
                <span class="choose__value"></span>
                <span class="icon icon--arrow choose__arrow"></span>
            </div>
            <select class="choose__select">
                <option class="choose__option" value="three-days">3 доби до дослідження</option>
                <option class="choose__option" value="day-before">Доба перед дослідженням</option>
                <option class="choose__option" value="day">День дослідження</option>
                <option class="choose__option" value="after">Після дослідження</option>
            </select>
        </div>
        <ul class="multiple__list" data-carousel="three-days" id="multiple">
            <li class="multiple__item">
                <div class="multiple__container">
                    <div class="multiple__icon icon"></div>
                    <div class="multiple__content">
                        <div class="multiple__title">Що можна їсти</div>
                        <div class="multiple__desc">
                            Тільки рідка прозора їжа. Наприклад фільтрований бульйон, кисіль та освітлені соки без
                            м'якоті, крім соків червоного та фіолетового кольорів, негазовані напої, чай.
                        </div>
                    </div>
                </div>
            </li>
            <li class="multiple__item">
                <div class="multiple__container">
                    <div class="multiple__icon icon"></div>
                    <div class="multiple__content">
                        <div class="multiple__title">15:00</div>
                        <div class="multiple__desc">
                            Останній прийом рідкої їжі
                        </div>
                        <div class="multiple__title">17:00 — 19:00</div>
                        <div class="multiple__desc">
                            Прийом розчину Фортрансу - 2 л, 30 мл сиропу Еспумізан
                        </div>
                    </div>
                </div>
            </li>
            <li class="multiple__item">
                <div class="multiple__container">
                    <div class="multiple__icon icon"></div>
                    <div class="multiple__content">
                        <div class="multiple__title">Що можна їсти</div>
                        <div class="multiple__desc">
                            Тільки рідка прозора їжа. Наприклад фільтрований бульйон, кисіль та освітлені соки без
                            м'якоті, крім соків червоного та фіолетового кольорів, негазовані напої, чай.
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="multiple__list" data-carousel="day-before">
            <li class="multiple__item">
                <div class="multiple__container">
                    <div class="multiple__icon icon"></div>
                    <div class="multiple__content">
                        <div class="multiple__title">Що можна їсти</div>
                        <div class="multiple__desc">
                            123
                            Тільки рідка прозора їжа. Наприклад фільтрований бульйон, кисіль та освітлені соки без
                            м'якоті, крім соків червоного та фіолетового кольорів, негазовані напої, чай.
                        </div>
                    </div>
                </div>
            </li>
            <li class="multiple__item">
                <div class="multiple__container">
                    <div class="multiple__icon icon"></div>
                    <div class="multiple__content">
                        <div class="multiple__title">Що можна їсти</div>
                        <div class="multiple__desc">
                            Тільки рідка прозора їжа. Наприклад фільтрований бульйон, кисіль та освітлені соки без
                            м'якоті, крім соків червоного та фіолетового кольорів, негазовані напої, чай.
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="multiple__list" data-carousel="day">
            <li class="multiple__item">
                <div class="multiple__container">
                    <div class="multiple__icon icon"></div>
                    <div class="multiple__content">
                        <div class="multiple__title">Що можна їсти</div>
                        <div class="multiple__desc">
                            123
                            Тільки рідка прозора їжа. Наприклад фільтрований бульйон, кисіль та освітлені соки без
                            м'якоті, крім соків червоного та фіолетового кольорів, негазовані напої, чай.
                        </div>
                    </div>
                </div>
            </li>
            <li class="multiple__item">
                <div class="multiple__container">
                    <div class="multiple__icon icon"></div>
                    <div class="multiple__content">
                        <div class="multiple__title">Що можна їсти</div>
                        <div class="multiple__desc">
                            Тільки рідка прозора їжа. Наприклад фільтрований бульйон, кисіль та освітлені соки без
                            м'якоті, крім соків червоного та фіолетового кольорів, негазовані напої, чай.
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="multiple__list" data-carousel="after">
            <li class="multiple__item">
                <div class="multiple__container">
                    <div class="multiple__icon icon"></div>
                    <div class="multiple__content">
                        <div class="multiple__title">Що можна їсти</div>
                        <div class="multiple__desc">
                            after
                            Тільки рідка прозора їжа. Наприклад фільтрований бульйон, кисіль та освітлені соки без
                            м'якоті, крім соків червоного та фіолетового кольорів, негазовані напої, чай.
                        </div>
                    </div>
                </div>
            </li>
            <li class="multiple__item">
                <div class="multiple__container">
                    <div class="multiple__icon icon"></div>
                    <div class="multiple__content">
                        <div class="multiple__title">Що можна їсти</div>
                        <div class="multiple__desc">
                            Тільки рідка прозора їжа. Наприклад фільтрований бульйон, кисіль та освітлені соки без
                            м'якоті, крім соків червоного та фіолетового кольорів, негазовані напої, чай.
                        </div>
                    </div>
                </div>
            </li>
            <li class="multiple__item">
                <div class="multiple__container">
                    <div class="multiple__icon icon"></div>
                    <div class="multiple__content">
                        <div class="multiple__title">Що можна їсти</div>
                        <div class="multiple__desc">
                            Тільки рідка прозора їжа. Наприклад фільтрований бульйон, кисіль та освітлені соки без
                            м'якоті, крім соків червоного та фіолетового кольорів, негазовані напої, чай.
                        </div>
                    </div>
                </div>
            </li>
            <li class="multiple__item">
                <div class="multiple__container">
                    <div class="multiple__icon icon"></div>
                    <div class="multiple__content">
                        <div class="multiple__title">Що можна їсти</div>
                        <div class="multiple__desc">
                            Тільки рідка прозора їжа. Наприклад фільтрований бульйон, кисіль та освітлені соки без
                            м'якоті, крім соків червоного та фіолетового кольорів, негазовані напої, чай.
                        </div>
                    </div>
                </div>
            </li>
            <li class="multiple__item">
                <div class="multiple__container">
                    <div class="multiple__icon icon"></div>
                    <div class="multiple__content">
                        <div class="multiple__title">Що можна їсти</div>
                        <div class="multiple__desc">
                            Тільки рідка прозора їжа. Наприклад фільтрований бульйон, кисіль та освітлені соки без
                            м'якоті, крім соків червоного та фіолетового кольорів, негазовані напої, чай.
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="multiple__timeline">
            <div class="multiple__period multiple__period--active" data-period="three-days">3 доби до дослідження</div>
            <div class="multiple__period" data-period="day-before">1 доба до дослідження</div>
            <div class="multiple__period" data-period="day">День дослідження</div>
            <div class="multiple__period" data-period="after">Після дослідження</div>
        </div>
    </div>
</section>
