<section class="section section--short section--white-bottom">
    <div class="pricelist collapse">
        <div class="pricelist__container collapse__item">
            <div class="pricelist__title collapse__title">
                Консультації лікаря
                <span class="pricelist__toggle icon"></span>
            </div>
            <ul class="pricelist__list collapse__content">
                <li class="pricelist__item">
                    <div class="pricelist__number">071</div>
                    <div class="pricelist__type">Консультація лікаря гастроентеролога (експерта)</div>
                    <div class="pricelist__desc">
                        Ми проаналізуємо ваші попередні дослідження, обговоримо ваш стиль життя та харчування,
                        призначимо необхідні обстеження та складемо план дій для подальшого лікування
                    </div>
                    <div class="pricelist__price">1 000 грн.</div>
                </li>
                <li class="pricelist__item">
                    <div class="pricelist__number">073</div>
                    <div class="pricelist__type">Консультація гастроентеролога, ДМН</div>
                    <div class="pricelist__desc">
                        Ми проаналізуємо ваші попередні дослідження, обговоримо ваш стиль життя та харчування,
                        призначимо необхідні обстеження та складемо план дій для подальшого лікування
                    </div>
                    <div class="pricelist__price">1 500 грн.</div>
                </li>
                <li class="pricelist__item">
                    <div class="pricelist__number">074</div>
                    <div class="pricelist__type">Консультація лікаря-ендоскопіста (експерта)</div>
                    <div class="pricelist__desc">
                        Ми проаналізуємо ваші попередні дослідження, обговоримо ваш стиль життя та харчування,
                        призначимо необхідні обстеження та складемо план дій для подальшого лікування
                    </div>
                    <div class="pricelist__price">1 000 грн.</div>
                </li>
            </ul>
        </div>
        <div class="pricelist__container collapse__item">
            <div class="pricelist__title collapse__title">
                Консультації лікаря
                <span class="pricelist__toggle icon"></span>
            </div>
            <ul class="pricelist__list collapse__content">
                <li class="pricelist__item">
                    <div class="pricelist__number">071</div>
                    <div class="pricelist__type">Консультація лікаря гастроентеролога (експерта)</div>
                    <div class="pricelist__desc">
                        Ми проаналізуємо ваші попередні дослідження, обговоримо ваш стиль життя та харчування,
                        призначимо необхідні обстеження та складемо план дій для подальшого лікування
                    </div>
                    <div class="pricelist__price">1 000 грн.</div>
                </li>
                <li class="pricelist__item">
                    <div class="pricelist__number">073</div>
                    <div class="pricelist__type">Консультація гастроентеролога, ДМН</div>
                    <div class="pricelist__desc">
                        Ми проаналізуємо ваші попередні дослідження, обговоримо ваш стиль життя та харчування,
                        призначимо необхідні обстеження та складемо план дій для подальшого лікування
                    </div>
                    <div class="pricelist__price">1 500 грн.</div>
                </li>
                <li class="pricelist__item">
                    <div class="pricelist__number">074</div>
                    <div class="pricelist__type">Консультація лікаря-ендоскопіста (експерта)</div>
                    <div class="pricelist__desc">
                        Ми проаналізуємо ваші попередні дослідження, обговоримо ваш стиль життя та харчування,
                        призначимо необхідні обстеження та складемо план дій для подальшого лікування
                    </div>
                    <div class="pricelist__price">1 000 грн.</div>
                </li>
            </ul>
        </div>
    </div>
</section>
