<div class="pricing tns tns--full">
    <ul class="pricing__list" id="pricing">
        <li class="pricing__item button--appointment">
            <div class="pricing__title">
                Рекомендуємо
                з медикаментозним сном
            </div>
            <div class="pricing__value">4 700 грн</div>
            <div class="pricing__content">
                <ul class="pricing__services">
                    <li class="pricing__clause">
                        <div class="icon icon--mark pricing__icon"></div>
                        <div class="pricing__desc">2 години в індивідуальній палаті</div>
                    </li>
                    <li class="pricing__clause">
                        <div class="icon icon--mark pricing__icon"></div>
                        <div class="pricing__desc">
                            Бесіда з ендоскопістом
                            до та після дослідження
                        </div>
                    </li>
                    <li class="pricing__clause">
                        <div class="icon icon--mark pricing__icon"></div>
                        <div class="pricing__desc">
                            Детальні висновки дослідження та рекомендації лікаря
                        </div>
                    </li>
                    <li class="pricing__clause">
                        <div class="icon icon--mark pricing__icon"></div>
                        <div class="pricing__desc">
                            Відео дослідження та 12 кольорових фотографій
                            на флешці
                        </div>
                    </li>
                    <li class="pricing__clause">
                        <div class="icon icon--mark pricing__icon"></div>
                        <div class="pricing__desc">
                            Бесіда з анестезіологом
                        </div>
                    </li>
                    <li class="pricing__clause">
                        <div class="icon icon--mark pricing__icon"></div>
                        <div class="pricing__desc">
                            Медикаментозний сон
                        </div>
                    </li>
                </ul>
                <div class="pricing__sign-up">
                    Записатися на прийом
                    <span class="icon icon--arrow"></span>
                </div>
            </div>
        </li>
        <li class="pricing__item  button--appointment">
            <div class="pricing__title">
                Колоноскопія без медикаментозного сну
            </div>
            <div class="pricing__value">3 600 грн</div>
            <div class="pricing__content">
                <ul class="pricing__services">
                    <li class="pricing__clause">
                        <div class="icon icon--mark pricing__icon"></div>
                        <div class="pricing__desc">
                            2 години в індивідуальній палаті
                        </div>
                    </li>
                    <li class="pricing__clause">
                        <div class="icon icon--mark pricing__icon"></div>
                        <div class="pricing__desc">
                            Бесіда з ендоскопістом
                            до та після дослідження
                        </div>
                    </li>
                    <li class="pricing__clause">
                        <div class="icon icon--mark pricing__icon"></div>
                        <div class="pricing__desc">
                            Детальні висновки дослідження та рекомендації лікаря
                        </div>
                    </li>
                    <li class="pricing__clause">
                        <div class="icon icon--mark pricing__icon"></div>
                        <div class="pricing__desc">
                            Відео дослідження та 12 кольорових фотографій
                            на флешці
                        </div>
                    </li>
                    <li class="pricing__clause">
                        <div class="icon icon--x pricing__icon"></div>
                        <div class="pricing__desc">
                            Бесіда з анестезіологом
                        </div>
                    </li>
                    <li class="pricing__clause">
                        <div class="icon icon--x pricing__icon"></div>
                        <div class="pricing__desc">
                            Медикаментозний сон
                        </div>
                    </li>
                </ul>
                <div class="pricing__sign-up">
                    Записатися на прийом
                    <span class="icon icon--arrow"></span>
                </div>
            </div>
        </li>
    </ul>
</div>
