<section class="section section--short">
    <h2 class="section__title">
        <span class="section__line">Відновлювальний</span>
        <span class="section__line">період</span>
    </h2>
    <div class="recovery">
        <ul class="recovery__list">
            <li class="recovery__item">
                Після медикаментозного сну ви швидко прийдете до тями без негативних наслідків
            </li>
            <li class="recovery__item">
                Впродовж наступних 12 годин радимо не водити авто, тому подбайте заздалегідь про те, як будете їхати з клініки додому
            </li>
        </ul>
    </div>
</section>
