<section class="section section--secondary section--short">
    <h2 class="section__title">
        <span class="section__line">Залишити</span>
        <span class="section__line">заявку</span>
    </h2>
    <div class="request">
        <form action="/" class="form request__form">
            <label class="form__label">
                <input placeholder=" " type="tel" class="form__input request__input">
                <span class="form__placeholder">Телефон</span>
            </label>
            {% include "blocks/button.twig" with {'text' : 'Передзвоніть мені', 'class' : 'form__button request__button'} %}
            <div class="response response--request">
                <div class="response__close icon icon--x"></div>
                <div class="response__title">Дякую за звернення!</div>
                <div class="response__text">Ми передзвонимо вам протягом наступної робочої години</div>
            </div>
        </form>
    </div>
</section>
