<section class="section">
    <h2 class="section__title">Відгуки</h2>
    <div class="reviews">
        <div class="reviews__rating" data-rating="1">
            <div class="reviews__stars"></div>
            <a href="/" class="reviews__label">4,8 з 5 на Facebook</a>
        </div>
        <ul class="reviews__list" id="reviews">
            <li class="reviews__item">
                <div class="reviews__comment">
                    День добрий) Проходила обстеження, дуже задоволена! Прям дуже) я — вимогливий пацієнт. При
                    цьому,
                    починаючи з моменту першого телефонного дзвінка, ведення / підготовка / консультація до моменту
                    обстеження, все супер! І саме знаходження в клініці-більше було схоже на санаторій))))

                    Спасибі Вам величезне) буду з радістю рекомендувати
                </div>
                <div class="reviews__author">
                    <div class="reviews__photo">
                        <img src="images/appointment.png" alt="" class="reviews__image">
                    </div>
                    <div class="reviews__name">Наташа Якимченко</div>
                </div>
            </li>
            <li class="reviews__item">
                <div class="reviews__comment">
                    День добрий) Проходила обстеження, дуже задоволена! Прям дуже) я — вимогливий пацієнт. При
                    цьому,
                    починаючи з моменту першого телефонного дзвінка, ведення / підготовка / консультація до моменту
                    обстеження, все супер! І саме знаходження в клініці-більше було схоже на санаторій))))

                    Спасибі Вам величезне) буду з радістю рекомендувати
                </div>
                <div class="reviews__author">
                    <div class="reviews__photo">
                        <img src="images/appointment.png" alt="" class="reviews__image">
                    </div>
                    <div class="reviews__name">Наташа Якимченко</div>
                </div>
            </li>
            <li class="reviews__item">
                <div class="reviews__comment">
                    День добрий) Проходила обстеження, дуже задоволена! Прям дуже) я — вимогливий пацієнт. При
                    цьому,
                    починаючи з моменту першого телефонного дзвінка, ведення / підготовка / консультація до моменту
                    обстеження, все супер! І саме знаходження в клініці-більше було схоже на санаторій))))

                    Спасибі Вам величезне) буду з радістю рекомендувати
                </div>
                <div class="reviews__author">
                    <div class="reviews__photo">
                        <img src="images/appointment.png" alt="" class="reviews__image">
                    </div>
                    <div class="reviews__name">Наташа Якимченко</div>
                </div>
            </li>
            <li class="reviews__item">
                <div class="reviews__comment">
                    День добрий) Проходила обстеження, дуже задоволена! Прям дуже) я — вимогливий пацієнт. При
                    цьому,
                    починаючи з моменту першого телефонного дзвінка, ведення / підготовка / консультація до моменту
                    обстеження, все супер! І саме знаходження в клініці-більше було схоже на санаторій))))

                    Спасибі Вам величезне) буду з радістю рекомендувати
                </div>
                <div class="reviews__author">
                    <div class="reviews__photo">
                        <img src="images/appointment.png" alt="" class="reviews__image">
                    </div>
                    <div class="reviews__name">Наташа Якимченко</div>
                </div>
            </li>
            <li class="reviews__item">
                <div class="reviews__comment">
                    День добрий) Проходила обстеження, дуже задоволена! Прям дуже) я — вимогливий пацієнт. При
                    цьому,
                    починаючи з моменту першого телефонного дзвінка, ведення / підготовка / консультація до моменту
                    обстеження, все супер! І саме знаходження в клініці-більше було схоже на санаторій))))

                    Спасибі Вам величезне) буду з радістю рекомендувати
                </div>
                <div class="reviews__author">
                    <div class="reviews__photo">
                        <img src="images/appointment.png" alt="" class="reviews__image">
                    </div>
                    <div class="reviews__name">Наташа Якимченко</div>
                </div>
            </li>
            <li class="reviews__item">
                <div class="reviews__comment">
                    День добрий) Проходила обстеження, дуже задоволена! Прям дуже) я — вимогливий пацієнт. При
                    цьому,
                    починаючи з моменту першого телефонного дзвінка, ведення / підготовка / консультація до моменту
                    обстеження, все супер! І саме знаходження в клініці-більше було схоже на санаторій))))

                    Спасибі Вам величезне) буду з радістю рекомендувати
                </div>
                <div class="reviews__author">
                    <div class="reviews__photo">
                        <img src="images/appointment.png" alt="" class="reviews__image">
                    </div>
                    <div class="reviews__name">Наташа Якимченко</div>
                </div>
            </li>
            <li class="reviews__item">
                <div class="reviews__comment">
                    День добрий) Проходила обстеження, дуже задоволена! Прям дуже) я — вимогливий пацієнт. При
                    цьому,
                    починаючи з моменту першого телефонного дзвінка, ведення / підготовка / консультація до моменту
                    обстеження, все супер! І саме знаходження в клініці-більше було схоже на санаторій))))

                    Спасибі Вам величезне) буду з радістю рекомендувати
                </div>
                <div class="reviews__author">
                    <div class="reviews__photo">
                        <img src="images/appointment.png" alt="" class="reviews__image">
                    </div>
                    <div class="reviews__name">Наташа Якимченко</div>
                </div>
            </li>
        </ul>
    </div>
</section>
