<section class="section section--secondary section--short">
    <h2 class="section__title">Етапи дослідження</h2>
    <div class="section__desc">
        <p class="section__paragraph">Ми рекомендуємо робити дослідження у медикаментозному сні.</p>
        <p class="section__paragraph">
            Так ми зможемо ретельніше обстежити кишечник, а для вас дослідження пройде
            безболісно та комфортно
        </p>
    </div>
    <div class="stages tns tns--full">
        <ul class="stages__list" id="stages">
            <li class="stages__item">
                <div class="stages__container">
                    <div class="player stages__player">
                        <video src="images/temp/video.mp4" muted class="player__video"></video>
                    </div>
                    <div class="stages__desc">
                        Вас зустрінуть на ресепшені, пояснять всі подальші дії та проведуть у окрему палату
                    </div>
                </div>
            </li>
            <li class="stages__item">
                <div class="stages__container">
                    <div class="player stages__player">
                        <video src="images/temp/video.mp4" muted class="player__video"></video>
                    </div>
                    <div class="stages__desc">
                        Вас зустрінуть на ресепшені, пояснять всі подальші дії та проведуть у окрему палату
                    </div>
                </div>
            </li>
            <li class="stages__item">
                <div class="stages__container">
                    <div class="player stages__player">
                        <video src="images/temp/video.mp4" muted class="player__video"></video>
                    </div>
                    <div class="stages__desc">
                        Вас зустрінуть на ресепшені, пояснять всі подальші дії та проведуть у окрему палату
                    </div>
                </div>
            </li>
            <li class="stages__item">
                <div class="stages__container">
                    <div class="player stages__player">
                        <video src="images/temp/video.mp4" muted class="player__video"></video>
                    </div>
                    <div class="stages__desc">
                        Вас зустрінуть на ресепшені, пояснять всі подальші дії та проведуть у окрему палату
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
