<section class="section section--secondary section--short">
    <h2 class="section__title">
        <span class="section__line">Історії</span>
        <span class="section__line">пацієнтів</span>
    </h2>
    <div class="stories">
        <ul class="stories__list" id="stories">
            <li class="stories__item">
                <img src="images/temp/stories.jpg" alt="" class="stories__image">
                <div class="stories__container">
                    <div class="stories__content">
                        <div class="stories__title">Як я вилікувалась від колоректального раку за допомогою Olymed
                        </div>
                        <div class="stories__block">
                            <div class="stories__subtitle">Що зі мной сталося</div>
                            <div class="stories__desc">
                                <p class="stories__paragraph">
                                    День добрий) Проходила обстеження, дуже задоволена !!!
                                    Прям дуже) я-вимогливий пацієнт.
                                </p>
                                <p class="stories__paragraph">
                                    При цьому, починаючи з моменту першого телефонного дзвінка, ведення / підготовка
                                    /
                                    консультація до моменту обстеження, все супер!
                                </p>
                                <p class="stories__paragraph">
                                    І саме знаходження в клініці-більше було схоже на санаторій))))
                                </p>
                                <p class="stories__paragraph">
                                    Спасибі Вам величезне) буду з радістю рекомендувати
                                </p>
                            </div>
                        </div>
                        <div class="stories__block">
                            <div class="stories__subtitle">Як мені допомогли в Olymed</div>
                            <div class="stories__desc">
                                <p class="stories__paragraph">
                                    День добрий) Проходила обстеження, дуже задоволена !!!
                                    Прям дуже) я-вимогливий пацієнт.
                                </p>
                                <p class="stories__paragraph">
                                    При цьому, починаючи з моменту першого телефонного дзвінка, ведення / підготовка
                                    /
                                    консультація до моменту обстеження, все супер!
                                </p>
                                <p class="stories__paragraph">
                                    І саме знаходження в клініці-більше було схоже на санаторій))))
                                </p>
                                <p class="stories__paragraph">
                                    Спасибі Вам величезне) буду з радістю рекомендувати
                                </p>
                            </div>
                        </div>
                        <div class="stories__block">
                            <div class="stories__subtitle">Як я живу зараз</div>
                            <div class="stories__desc">
                                <p class="stories__paragraph">
                                    День добрий) Проходила обстеження, дуже задоволена !!!
                                    Прям дуже) я-вимогливий пацієнт.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="stories__author">
                            <span class="stories__frame">
                                <img src="images/temp/stories.jpg" class="stories__photo" alt="">
                            </span>
                        <span class="stories__name">Наташа Колоренко</span>
                    </div>
                    <div class="stories__expand">
                        Розгорнути
                        <span class="icon icon--arrow stories__arrow"></span>
                    </div>
                </div>
            </li>
            <li class="stories__item">
                <img src="images/temp/stories.jpg" alt="" class="stories__image">
                <div class="stories__container">
                    <div class="stories__content">
                        <div class="stories__title">Як я вилікувалась від колоректального раку за допомогою Olymed
                        </div>
                        <div class="stories__block">
                            <div class="stories__subtitle">Що зі мной сталося</div>
                            <div class="stories__desc">
                                <p class="stories__paragraph">
                                    День добрий) Проходила обстеження, дуже задоволена !!!
                                    Прям дуже) я-вимогливий пацієнт.
                                </p>
                                <p class="stories__paragraph">
                                    При цьому, починаючи з моменту першого телефонного дзвінка, ведення / підготовка
                                    /
                                    консультація до моменту обстеження, все супер!
                                </p>
                                <p class="stories__paragraph">
                                    І саме знаходження в клініці-більше було схоже на санаторій))))
                                </p>
                                <p class="stories__paragraph">
                                    Спасибі Вам величезне) буду з радістю рекомендувати
                                </p>
                            </div>
                        </div>
                        <div class="stories__block">
                            <div class="stories__subtitle">Як мені допомогли в Olymed</div>
                            <div class="stories__desc">
                                <p class="stories__paragraph">
                                    День добрий) Проходила обстеження, дуже задоволена !!!
                                    Прям дуже) я-вимогливий пацієнт.
                                </p>
                                <p class="stories__paragraph">
                                    При цьому, починаючи з моменту першого телефонного дзвінка, ведення / підготовка
                                    /
                                    консультація до моменту обстеження, все супер!
                                </p>
                                <p class="stories__paragraph">
                                    І саме знаходження в клініці-більше було схоже на санаторій))))
                                </p>
                                <p class="stories__paragraph">
                                    Спасибі Вам величезне) буду з радістю рекомендувати
                                </p>
                            </div>
                        </div>
                        <div class="stories__block">
                            <div class="stories__subtitle">Як я живу зараз</div>
                            <div class="stories__desc">
                                <p class="stories__paragraph">
                                    День добрий) Проходила обстеження, дуже задоволена !!!
                                    Прям дуже) я-вимогливий пацієнт.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="stories__author">
                            <span class="stories__frame">
                                <img src="images/temp/stories.jpg" class="stories__photo" alt="">
                            </span>
                        <span class="stories__name">Наташа Колоренко</span>
                    </div>
                    <div class="stories__expand">
                        Розгорнути
                        <span class="icon icon--arrow stories__arrow"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
