<div class="support">
    <a href="tel:0632223304" class="support__link support__link--tel">
        <span class="icon icon--phone support__icon"></span>
    </a>
    <div class="support__social icon">
        <div class="support__list">
            <a href="/" class="support__link support__link--social support__link--facebook">
                <span class="icon icon--facebook support__icon"></span>
            </a>
            <a href="/" class="support__link support__link--social support__link--messenger">
                <span class="icon icon--messenger support__icon"></span>
            </a>
            <a href="/" class="support__link support__link--social  support__link--viber">
                <span class="icon icon--viber support__icon"></span>
            </a>
            <a href="/" class="support__link support__link--social  support__link--telegram">
                <span class="icon icon--telegram support__icon"></span>
            </a>
        </div>
    </div>
</div>
