<!doctype html>
<html lang="en">
{% include "sections/head.twig" %}
<body class="page">
<div class="page__container">
    {% include "sections/overhead.twig" %}
    {% include "sections/header/header--clinic.twig" %}
    {% include "sections/history.twig" %}
    {% include "sections/about.twig" %}
    {% include "sections/equipment.twig" %}
    {% include "sections/exp-exchange.twig" %}
    {% include "sections/experts.twig" %}
    {% include "sections/doctors-clinic.twig" with { 'class' : 'section--secondary' } %}
    {% include "sections/about-video.twig" %}
    {% include "sections/methods-and-technology.twig" %}
    {% include "sections/standards/standards.twig" %}
    {% include "sections/appointment.twig" %}
    {% include "sections/contacts.twig" %}
    {% include "sections/places.twig" %}
    {% include "sections/map.twig" %}
    {% include "sections/footer.twig" %}
    {% include "sections/blocks/appointment-request.twig" %}
    <script src="js/main.min.js"></script>
</div>
</body>
</html>
