<!doctype html>
<html lang="en">
{% include "sections/head.twig" %}
<body class="page">
<div class="page__container">
    {% include "sections/overhead.twig" %}
    {% include "sections/header/header--consultation.twig" %}
    {% include "sections/consultations.twig" %}
    {% include "sections/request.twig" %}
    {% include "sections/standards/standards.twig" %}
    {% include "sections/stories.twig" %}
    {% include "sections/research/research--others.twig" %}
    {% include "sections/appointment.twig" %}
    {% include "sections/contacts.twig" %}
    {% include "sections/places.twig" %}
    {% include "sections/map.twig" %}
    {% include "sections/footer.twig" %}
    {% include "sections/blocks/appointment-request.twig" %}
    <script src="js/main.min.js"></script>
</div>
</body>
</html>
