<!doctype html>
<html lang="en">
{% include "sections/head.twig" %}
<body class="page">
<div class="page__container">
    {% include "sections/overhead.twig" %}
    {% include "sections/header/header--endoscopy.twig" %}
    {% include "sections/what-endoscopy.twig" %}
    {% include "sections/endocapsule-olympus.twig" %}
    {% include "sections/recovery/recovery--absent.twig" %}
    {% include "sections/standards/standards--endoscopy.twig" %}
    {% include "sections/request.twig" %}
    {% include "sections/doctors.twig" %}
    {% include "sections/stories.twig" %}
    {% include "sections/faq.twig" %}
    {% include "sections/appointment.twig" %}
    {% include "sections/research/research--others.twig" %}
    {% include "sections/contacts.twig" %}
    {% include "sections/places.twig" %}
    {% include "sections/map.twig" %}
    {% include "sections/footer.twig" %}
    {% include "sections/blocks/appointment-request.twig" %}
    <script src="js/main.min.js"></script>
</div>
</body>
</html>
