.tns

    &__outer
        position relative
        z-index 2

        .tns--full &
            padding 0 calc(50% - 145px)

            @media (min-width 1280px)
                padding 0 calc(50% - 500px)

        .tns--standards &

            @media (min-width 1280px)
                padding 0

        .tns--doctors &

            @media (min-width 1280px)
                padding 0 calc(50% - 600px)

        [hidden]
            display none !important

        [aria-controls]
        [data-action]
            cursor pointer

    &--slider
        transition all 0s

        .tns__item
            bo x-sizing border-box

    &--horizontal.&--subpixel
        white-space nowrap

    &--horizontal.&--subpixel > &__item
        display inline-block
        vertical-align top
        white-space normal


    &--horizontal.&--no-subpixel:after
        content ''
        display table
        clear both


    &--horizontal.&--no-subpixel > &__item
        float left


    &--horizontal.&__carousel.&--no-subpixel > &__item
        margin-right -100%


    &__no-calc
        position relative
        left 0


    &__gallery
        position relative
        left 0
        min-height 1px


    &__gallery > &__item
        position absolute
        left -100%
        transition transform 0s, opacity 0s


    &__gallery > &__item--active
        position relative
        left auto !important


    &__gallery > &__moving
        transition all 0.25s


    &__autowidth
        display inline-block


    &__lazy-img
        transition opacity 0.6s
        opacity 0.6


    &__lazy-img&__complete
        opacity 1

    &__ah
        transition height 0s

    &__ovh
        overflow hidden

        .tns--full &
            overflow initial


    &__hidden
        position absolute
        left -10000em


    &__transparent
        opacity 0
        visibility hidden

    &__fadeIn
        opacity 1
        z-index 0


    &__normal, &__fadeOut
        opacity 0
        z-index -1


    &__vpfix
        white-space nowrap


    &__vpfix > div, &__vpfix > li
        display inline-block


    &__t-subp2
        margin 0 auto
        width 310px
        position relative
        height 10px
        overflow hidden


    &__t-ct
        width 2333.3333333%
        width -webkit-calc(100% * 70 / 3)
        width -moz-calc(100% * 70 / 3)
        width calc(100% * 70 / 3)
        position absolute
        right 0


    &__t-ctafter
        content ''
        display table
        clear both


    &__t-ct > div
        width calc(100% / 70)
        height 10px
        float left

    &__controls
        width 100px
        display flex
        justify-content space-between
        margin-top 40px
        position relative
        z-index 2

        @media (min-width 1280px)
            margin-top 0
            absolute right 0 top -154px
            width 140px

        button
            width 48px
            height 38px
            box-sizing border-box
            border 1px solid transparent
            background-color --primary-color
            display flex
            justify-content center
            align-items center
            color --white-color
            transition background-color .7s ease, border-color .7s ease, color .7s ease

            @media (min-width 1280px)
                size(68px, 64px)

            &:before
                content "\E001"
                font-family 'icons'
                font-size 14px

                @media (min-width 1280px)
                    font-size 16px

            &[data-controls="prev"]:before
                transform rotate(-180deg)

            @media (min-width 1280px)

                &:not(:disabled):hover
                    border-color --primary-color
                    background-color --white-color
                    color --primary-color

                    .section--secondary &
                        border-color transparent

                &:active
                    border-color transparent

            &:disabled
                background-color rgba(--ternary-color, .45)
                cursor default

    &__nav
        width 290px
        height 38px
        absolute left 50% bottom 0
        transform translateX(-50%)
        box-sizing border-box
        padding-left 120px
        display flex
        align-items center

        @media (min-width 1280px)
            display none

        button
            flex-grow 1
            height 2px
            background-color --ternary-color
            appearance none

            &.tns__nav--active
                background-color --primary-color
    
