<section class="section section--secondary section--short">
    <h2 class="section__title">
        <span class="section__line">Додаткові</span>
        <span class="section__line">сервіси</span>
    </h2>
    <div class="services">
        <ul class="services__list">
            <li class="services__item">
                <div class="services__title">VIP-сервіс з окремим входом та покращеною палатою</div>
                <div class="services__desc">
                    Якщо ви прагнете цілковитої приватності, ми організуємо для вас максимально комфортне
                    перебування у клініці
                </div>
            </li>
            <li class="services__item">
                <div class="services__title">Колоноскопія та гастроскопія під одним медикаментозним сном</div>
                <div class="services__desc">
                    Ви збережете час та гроші, дослідивши шлунок і кишечник за один раз
                </div>
            </li>
            <li class="services__item">
                <div class="services__title">Можливий аналіз біопсії в Німеччині</div>
                <div class="services__desc">
                    Для подвійного контролю ми можемо надіслати зібраний матеріал на аналіз у німецьку клініку
                </div>
            </li>
        </ul>
    </div>
</section>
